.denominatorLabel {
  padding: 0 4px 8px 4px;
  font-size: 0.9em;
}

.selector {
  min-width: 250px;
}

.rightDenominator > .selector > div > label {
  justify-content: flex-end;
}

.rightDenominator > .denominatorLabel {
  text-align: right;
}

.controlsBar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  flex-shrink: 0;
  align-items: center;
}

.qualityLabel {
  display: inline-block;
  margin-left: 4px;
  font-size: 0.8em;
  color: #777;
}
