.panelBody {
  width: 100%;
  padding: var(--double-unit);
}

/* laptop */
@media screen and (max-width: 1530px) {
  .panelBody {
    padding: var(--double-unit);
    overflow-y: auto;
  }
}
@media screen and (max-width: 960px) {
  .panelBody {
    height: 100%;
    margin: 0 auto;
    width: 100%;
  }
}
