.header {
  min-height: 40px;
}

.headerTitle {
  max-width: 260px;
  min-width: 200px;
}
.closeBtn {
  & svg {
    color: var(--icon-base-strong);
  }

  &:disabled svg {
    color: var(--faint-weak-up);
  }

  &:hover:not(:disabled) svg {
    color: var(--base-strong);
  }
}

.modal {
  z-index: var(--modal);
}

@media screen and (max-width: 960px) {
  .modal > section {
    top: calc(50% + var(--app-header-height)); /* header offset */
    height: 100vh;
  }
  .headerTitle {
    max-width: unset;
  }
}
