.header {
  user-select: none;
}

.headerTitle {
  max-width: 260px;
  min-width: 200px;
}

.closeBtn {
  & svg {
    color: var(--icon-base-strong);
  }

  &:disabled svg {
    color: var(--faint-weak-up);
  }

  &:hover:not(:disabled) svg {
    color: var(--base-strong);
  }
}

.modal {
  z-index: var(--modal);
}

@media screen and (max-width: 960px) {
  .modal > section {
    top: calc(50% + var(--app-header-height)); /* header offset */
    height: 100vh;
  }

  .headerTitle {
    max-width: unset;
    height: 31px;
  }

  .header {
    padding: 0 var(--unit);
  }

  .header:before {
    position: absolute;
    content: '';
    display: block;
    width: 36px;
    height: 4px;
    top: calc(8px + env(safe-area-inset-top));
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
    background-color: #cccccc;
  }
}
