.breadcrumbsPanel {
  /* panel is made transparent to allow Breadcrumbs component adapt to its content size */
  background-color: transparent;
  box-shadow: none;
  overflow: visible;
  min-height: 40px;
}

/* Add shadow when toolbar is not displayed */
.noToolbar {
  box-shadow: var(--shadow-small);
}

.content {
  overflow: visible;
}
