.breadcrumbsPanel {
  /* panel is made transparent to allow Breadcrumbs component adapt to its content size */
  background-color: transparent;
  box-shadow: none;
  overflow: visible;
  min-height: 40px;
}

.content {
  overflow: visible;
}
