.betaLabel {
  margin-left: var(--half-unit);
  background-color: var(--accent-strong);
  border-radius: 20px;
  color: var(--base-weak);
  font-weight: 500;
  padding: var(--half-unit) var(--double-unit);
  font-size: 12px;
  margin-right: var(--unit);
}
