.betaLabel {
  margin-left: var(--half-unit);
  background-color: hsla(202, 90%, 49%, 1);
  border-radius: 20px;
  color: white;
  font-weight: 500;
  padding: var(--half-unit) var(--double-unit);
  font-size: 12px;
  margin-right: var(--unit);
}
