.denominators {
  position: relative;
}

.row.denominators {
  margin-right: 5px;
}

.column.denominators {
  margin-bottom: 5px;
}

.denominatorSelector {
  font-size: 18px;
  background: #333;
  color: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 23px;
  width: 24px;
  cursor: pointer;
}

.denominatorSelector.disabled {
  background: #bbb;
  pointer-events: none;
}

.denominatorSelector:hover {
  background: #666;
}

.column .denominatorSelector {
  transform: rotate(90deg);
  flex-direction: row;
}

.row .denominatorSelector {
  flex-direction: column;
}

.denominatorsContainer {
  position: absolute;
  background: var(--base-weak);
  line-height: 25px;
  -webkit-text-stroke-width: 0;
  z-index: 2;
  padding: 6px;
  border: 1px solid var(--faint-weak);
}

.column .denominatorsContainer {
  right: 22px;
  box-shadow: -3px 3px 4px rgb(31 51 73 / 15%);
  max-width: 250px;
  min-height: 270px;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }
}

.row .denominatorsContainer {
  top: 22px;
  box-shadow: 3px 3px 4px rgb(31 51 73 / 15%);
  max-height: 250px;
  min-width: 270px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }
}

.denominatorsContainer > .quotientItem {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;

  &.selected {
    background: var(--faint-weak) !important;
  }
}

.denominatorsContainer > .quotientItem:hover {
  background: var(--faint-weak-down);
  box-shadow: inset 0px 0px 0px 1px var(--faint-weak);
  color: var(--base-strong);
}

.row .denominatorsContainer > .quotientItem {
  padding-right: 10px;
}

.column .denominatorsContainer > .quotientItem {
  padding-bottom: 10px;
}
