.smartColumn {
  position: relative;
  pointer-events: none;
  min-width: 320px;
}

.smartColumnContent {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  left: 0;
  gap: var(--unit);
  flex-flow: column nowrap;
  pointer-events: all;
}
