.tootipRoot {
  display: flex;
}

.hexagon {
  height: 45px;
  width: 45px;
  background: var(--base-weak);

  clip-path: polygon(
    25% 5%,
    75% 5%,
    100% 50%,
    75% 95%,
    25% 95%,
    0% 50%
  ); /* https://stackoverflow.com/a/60967560 */

  & > div {
    color: var(--base-strong);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.labels {
  display: flex;
  align-items: center;
  gap: 12px;
  font: var(--font);

  & > .column {
    display: flex;
    flex-direction: column;
    white-space: nowrap;

    &:first-child {
      padding-left: var(--unit);
    }
  }
}

.bivariateHexagonPopupContentRoot {
  color: var(--base-weak);
  border-radius: var(--border-radius);
  z-index: 2;

  & :global(.maplibregl-popup-tip) {
    display: none;
  }

  & :global(.maplibregl-popup-content) {
    padding: 8px 12px;
    background: var(--base-strong);
  }

  & :global(.maplibregl-popup-close-button) {
    color: var(--base-weak);
    width: 20px;
    height: 20px;
    user-select: none;
    font-size: 0;

    &:before {
      color: var(--faint-strong);
      content: '\2715';
      font-size: 16px;
    }
  }
}
