.LegendGrid {
  display: grid;
  grid-template-columns: repeat(2, var(--double-unit));
  grid-gap: 2px 2px;
  position: relative;
  background: var(--base-weak);
  border: 1px solid var(--base-weak);
}

.LegendGridCell {
  width: var(--double-unit);
  height: var(--double-unit);
  position: relative;
  background-color: var(--base-weak);
}

.LegendGridCellChanged {
  box-shadow:
    0 0 0 1px var(--text-faint-strong),
    inset 0 0 0 1px var(--base-weak);
}

.LegendGridCellUndefinedChanged {
  box-shadow: inset 0 0 0 1px var(--faint-weak-up);
}

.CircleIndicator {
  height: 4px;
  width: 4px;
  background-color: var(--base-weak);
  border-radius: 50%;
  top: 3px;
  right: 2px;
  position: absolute;
}

.UndefinedColorsIndicator {
  position: absolute;
  color: red;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
