.placeholderBody {
  width: 100%;
  display: grid;
  gap: var(--half-unit);

  & svg {
    width: 16px;
    height: auto;
    margin-bottom: -3px;
  }

  & .mainText {
    margin: var(--unit) 0;
  }
}

.clickableText {
  width: 100%;
  color: var(--accent-strong);
  cursor: pointer;
}
