.scrollable {
  overflow-y: auto;
  overflow-x: hidden;
  padding: var(--double-unit);
}
/* mobile */
@media screen and (max-width: 960px) {
  .scrollable {
    width: 100%;
  }
}

.presentationMode {
  padding: 12px;
  zoom: 1.4;
}
