.loadingContainer > div {
  margin: 0;
}

.invisible {
  display: none;
}

.mainWrap {
  padding: 88px var(--double-unit) 20px var(--double-unit);
  margin: 0 auto;
  width: 100%;
  max-height: calc(100vh - 44px);
  overflow-y: auto;
}

.seeAllLink {
  display: block;
  font-size: 20px;
  line-height: 22px;
  margin-bottom: 30px;
}

.title {
  display: block;
  margin-bottom: 18px;
}

.description {
  display: block;
  margin-bottom: 80px;
}

.lastUpdated {
  font-size: 18px;
  line-height: 23px;
  color: #8c949b;
}

@media screen and (min-width: 1921px) {
  .mainWrap {
    padding: 100px 216px 100px 216px;
    max-height: 100vh;
    overflow-y: auto;
  }

  .seeAllLink {
    font-size: 28px;
    line-height: 30.8px;
    margin-bottom: 50px;
  }

  .title {
    margin-bottom: 25px;
  }

  .description {
    margin-bottom: 73px;
  }

  .lastUpdated {
    font-size: 22px;
    line-height: 28.6px;
  }
}

@media screen and (max-width: 1200px) {
  .mainWrap {
    padding: 44px var(--unit) 44px var(--unit);
    width: 99vw;
    max-height: 100vh;
    overflow-y: auto;
  }

  table {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
  thead tr {
    border-bottom: 1px solid #b9b9b9;
  }
  th {
    padding: var(--double-unit) var(--unit);
    top: auto;
  }
}
