.feedSelectorContainer {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;

  & .feedsSelect {
    border: none;
    background-color: transparent;
  }
}
