.searchBar {
  position: relative;
}

.infoBanner,
.resultsList {
  position: absolute;
  max-height: 90vh;
  z-index: 10;
  top: 100%;
  left: 0;

  background: hsla(0, 100%, 100%, 0.99);
  outline: none;
  padding: 0;
  border-radius: var(--border-radius-unit);
  box-shadow: var(--shadow-medium);
  margin: 2px 2px 0 0;
}

.listItem {
  padding: var(--double-unit);
  white-space: normal;

  &:hover {
    background: var(--base-weak-up);
  }
}

.infoBanner {
  max-width: 100%;
  width: 100%;
  padding: var(--unit) var(--double-unit);
}
@media screen and (max-width: 960px) {
  .infoBanner {
    width: unset;
  }
}

.resultsList {
  overflow-y: auto;
  min-width: 100%;
  list-style: none;
  white-space: nowrap;
}
@media screen and (max-width: 960px) {
  .resultsList {
    width: 100%;
    box-shadow: none;
  }
}

.createMcdaAnalysis {
  color: var(--accent-strong);
}

.mcdaStatusItem {
  padding: var(--double-unit);
  border-bottom: 1px solid var(--faint-weak);

  &::before {
    content: '✨';
  }

  &.loading::after {
    content: '';
    animation: dot-blink 1s infinite;
  }

  &.error {
    color: var(--error-strong);
  }
}

@keyframes dot-blink {
  0% {
    content: '';
  }
  33% {
    content: '.';
  }
  66% {
    content: '..';
  }
  100% {
    content: '...';
  }
}
