.analytics {
  display: flex;
  flex-flow: wrap;
  gap: var(--half-unit) var(--unit);
  align-items: flex-end;
}

.analyticsBadge {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--half-unit);
}
