.fieldText {
  white-space: pre-wrap;
  word-break: break-word;
  font-family: inherit;
}

.container {
  font: 500 var(--font-xs);
  text-decoration: none;
  display: flex;
  gap: var(--half-unit);
}

.icon {
  color: var(--accent-strong);
  vertical-align: bottom;
}

.value {
  color: var(--text-faint-strong);
  font-weight: normal;
}

.container > a {
  text-decoration: none;
}

.container > a:hover {
  outline: 1px solid var(--accent-strong);
  outline-offset: 4px;
}

.label {
  font-weight: 400;
}
