#ide folders
/.idea
/.vscode
/.cursor

# dependencies
/pnpm-global
/node_modules
/.pnp
.pnp.js
package-lock.json

# testing
/coverage

# production
/dist

# misc
.DS_Store
.env.local
.env.*.local

web_modules

npm-debug.log*
npm-error.log*
yarn-debug.log*
yarn-error.log*
env.yml
*.log
stats.json
stats.html
template.config.js
.eslintcache
configs/*.local.*
public/config/appconfig.json
public/config/features.local.json
cosmos/dist/
cosmos-export/

~*

# vite temp
vite.config.ts.js
vite.config.ts.timestamp-*

# scripts
.path

#i18next - ignore all locales instead of en (https://gist.github.com/hieblmedia/9318457)
!src/core/localization/translations
src/core/localization/translations/**
!src/core/localization/translations/en

size-report.json
translations-report.md
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
e2e/.auth
