#ide folders
/.idea
/.vscode

# dependencies
/pnpm-global
/node_modules
/.pnp
.pnp.js


# testing
/coverage
*.test.ts.snap

# production
/dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

dist
web_modules

npm-debug.log*
npm-error.log*
yarn-debug.log*
yarn-error.log*
.vscode
env.yml
.pnpm-debug.log
pnpm-lock.yaml
stats.json
stats.html
template.config.js
.eslintcache
configs/config.local.js
public/appconfig.js
public/config/appconfig.js
cosmos/dist/
cosmos-export/
