<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!-- Favicons -->
  <link rel="icon" href="/favicon/favicon.ico" sizes="any">
  <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg">
  <link rel="apple-touch-icon" href="/favicon/180.png">
  <link rel="manifest" href="/favicon/manifest.json" />
  <title>Disaster Ninja</title>
  <script src="/appconfig.js"></script>
  <script>
    window.intercomSettings = {
      app_id: "e59cl64z",
      custom_launcher_selector: '#kontur_header_chat_btn'
    };
  </script>
  <script>
    // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/e59cl64z'
    (function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/e59cl64z'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })();
  </script>
  <% if (env==='development' ) { %>
    <script src="https://unpkg.com/spacingjs" async></script>
  <% } %>
  <% if (env==='production' ) { %>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript"> (function (m, e, t, r, i, k, a) {
        m[i] = m[i] || function () {
          (m[i].a = m[i].a || []).push(arguments)
        };
        m[i].l = 1 * new Date();
        k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
      })(window, document, "script", "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js", "ym");
      ym(56089129, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true,
        trackHash: true
      });</script>
    <noscript>
      <div><img src="https://mc.yandex.ru/watch/56089129" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript> <!-- /Yandex.Metrika counter -->
  <% } %>
</head>

<body>
  <div id="root"></div>
  <script type="module" src="/src/index.ts"></script>
</body>

</html>