<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!-- Favicons -->
  <link rel="icon" href="/favicon/favicon.ico" sizes="any">
  <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg">
  <link rel="apple-touch-icon" href="/favicon/180.png">
  <link rel="manifest" href="/manifest.json" />
  <title>Disaster Ninja</title>
  <script src="/appconfig.js"></script>
  <% if (VITE_SPACING_JS === true) { %>
    <script src="https://unpkg.com/spacingjs" async></script>
  <% } %>
    <% if (mode === 'production' ) { %>
      <!-- Google Tag Manager -->
      <script>(function (w, d, s, l, i) {
          w[l] = w[l] || []; w[l].push({
            'gtm.start':
              new Date().getTime(), event: 'gtm.js'
          }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
              'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5LD2Z3D');</script>
      <!-- End Google Tag Manager -->
      <% } %>
</head>

<body>
    <% if (mode === 'production' ) { %>
    <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5LD2Z3D" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <% } %>
    <div id="root"></div>
    <script type="module" src="/src/index.ts"></script>
</body>

</html>
