.panelContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: -25px -25px;
  padding: 25px 25px;
  box-shadow: var(--elevation-1);
}
.panel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;

  & > div {
    overflow: hidden;
  }

  /* allow resize second child which is content wrap */
  & > div:nth-child(2) {
    resize: vertical;
    min-height: 60px;
  }

  &.show > div:nth-child(1) {
    min-height: 40px;
  }

  &.collapse {
    height: auto;
    & div:not(:first-child) {
      display: none;
    }
  }
}

.scrollable {
  overflow-y: auto;
  height: 100%;
}

.panelIcon {
  display: none;
}

@media screen and (max-width: 960px) {
  .panel.show {
    position: absolute;
    margin: 0;
    width: 100vw;
    height: 100%;
    align-items: center;
    & > div {
      width: 100%;
    }
  }
  .panel.collapse {
    display: none;
  }

  .scrollable {
    width: 100%;
  }

  .panelIcon {
    &.show {
      visibility: visible;
      display: flex;
    }
  }
}
