.scrollable {
  overflow-y: auto;
  width: 284px;
  height: 100%;
}

.panel {
  width: 284px;
  height: 0;
  &.show {
    transition: visibility 0s linear 0s, height 0.1s linear 0s;
    visibility: visible;
    height: 100%;
  }

  &.collapse {
    transition: visibility 0s linear 0s, height 0.1s linear 0s;
    visibility: visible;
    height: var(--panel-header-height);
    overflow: hidden;
  }
}

.header {
  padding: 10px var(--double-unit);
  display: flex;
  align-items: center;
}

.panelIcon {
  display: none;
}

.iconContainerShown {
  display: block;
}

.iconContainerHidden {
  display: none;
}

@media screen and (max-width: 960px) {
  .panel.show {
    position: absolute;
    margin: 0;
    width: 100vw;
    max-height: unset;
    height: calc(100vh - var(--header-height));
    align-items: center;
    & > div {
      width: 100%;
    }
  }
  .panel.collapse {
    display: none;
  }

  .scrollable {
    width: 100%;
  }

  .panelIcon {
    &.show {
      transition: display 0s linear 0s, visibility 0s linear 0s, opacity 0.33s linear 0s;
      visibility: visible;
      display: flex;
      opacity: 1;
    }

    &.hide {
      transition: display 0s linear 0.33s, visibility 0s linear 0.33s,
        opacity 0.33s linear 0s;
      visibility: hidden;
      display: none;
      opacity: 0;
      width: 0;
    }
  }
}
