.scrollable {
  overflow-y: auto;
  width: 284px;
  height: 100%;
}

.panel {
  width: 284px;
  height: auto;
  max-height: 100vh;
  &.collapse {
    & div:not(:first-child) {
      display: none;
    }
  }
}

.header {
  /* Temp padding right. Remove at #12405 */
  padding: var(--unit) calc(var(--double-unit) + var(--icon-l) + var(--half-unit))
    var(--unit) var(--double-unit);
  display: flex;
  align-items: center;
}

.panelIcon {
  display: none;
}

.iconContainerShown {
  display: block;
}

.iconContainerHidden {
  display: none;
}

@media screen and (max-width: 960px) {
  .panel.show {
    position: absolute;
    margin: 0;
    width: 100vw;
    height: 100%;
    align-items: center;
    & > div {
      width: 100%;
    }
  }
  .panel.collapse {
    display: none;
  }

  .scrollable {
    width: 100%;
  }

  .panelIcon {
    &.show {
      visibility: visible;
      display: flex;
    }
  }
}
