.clickableText {
  width: 100%;
  font-size: 16px;
  margin-top: var(--unit);
  color: var(--accent-strong);
  cursor: pointer;
}

.geometryNameContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  & + * {
    margin-top: var(--unit);
  }
}

.hint {
  color: var(--faint-strong);
}

.clean {
  cursor: pointer;
  color: var(--faint-strong);
  padding: var(--half-unit) 0 0 0;
}
