.editor {
  display: flex;
  flex-direction: column;
  gap: var(--unit);
  margin-bottom: var(--unit);
  margin-right: calc(-1 * var(--half-unit));
}

.dimension {
  font-weight: 600;
}

.parameter {
  margin-inline-start: var(--unit);
}
