.customStepsRow {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: var(--unit);
  margin: var(--unit) 0;
}

.customStepsRowName {
  width: 100px;
  margin-top: 10px;
}

.customStepInput {
  width: 100px;
}

.error {
  color: var(--error-strong);
}

@media screen and (max-width: 960px) {
  .customStepsRowName {
    width: 75px;
  }

  .customStepInput {
    width: 75px;
  }
}
