@media screen and (max-width: 960px) {
  .modalCover {
    height: 100%;
  }
  .modalCover,
  .modalCover * {
    z-index: var(--modal);
  }
  .modalCover > section {
    top: calc(50% + var(--app-header-height)); /* header offset */
    left: 0;
    height: 100vh;
  }
}
