.multiSteps {
  display: flex;
  flex-flow: column nowrap;
  gap: 2px;
}

.legendStep {
  display: flex;
  align-items: flex-start;
}

.stepName {
  margin-left: var(--half-unit);
}

.hidden {
  opacity: 0.5;
}

.smallIcon {
  margin-top: 2px;
}

.normalIcon {
  margin-top: 1px;
}
