@custom-media --mobile (max-width: 960px);
/* var(--md) */

.tooltipContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--tooltip);

  display: flex;
  flex-direction: row-reverse;
}

.popup {
  position: absolute;
  width: 268px;
  @media (--mobile) {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}

.tooltipContainer.hoverTooltip {
  pointer-events: none;

  & .popup {
    pointer-events: visible;
  }
}

.tooltipAnchor {
  position: relative;
}

.popupContent {
  position: absolute;
  display: flex;
  padding: var(--unit) var(--unit) var(--half-unit) var(--unit);
  max-width: 268px;
  max-height: 200px;
  overflow-y: auto;
  background-color: var(--base-strong);
  color: var(--base-weak);
  border-radius: var(--border-radius);
}

.top-left {
  margin-left: calc(0px - var(--half-unit));
  margin-bottom: var(--half-unit);

  & .popupContent {
    transform: translate(-100%, -100%);
  }
}

.top-right {
  margin-left: var(--half-unit);
  margin-bottom: var(--half-unit);

  & .popupContent {
    transform: translate(0, -100%);
  }
}

.bottom-left {
  margin-left: calc(0px - var(--half-unit));
  margin-top: var(--half-unit);

  & .popupContent {
    transform: translate(-100%, 0);
  }
}

.bottom-right {
  margin-left: var(--half-unit);
  margin-top: var(--half-unit);
}

.closeIcon {
  position: sticky;
  top: 0;
  cursor: pointer;
  height: 16px;
  display: flex;
  color: var(--faint-strong);
}

.closeIcon svg {
  width: var(--double-unit);
  height: var(--double-unit);
}

.unset {
  display: none;
}

.markdown {
  & p {
    margin: 0;
  }
  & a {
    word-break: break-all;
    &:visited,
    &:link,
    &:active,
    &:hover {
      color: var(--accent-strong);
    }
  }
}

@media (--mobile) {
  .hoverTooltip {
    display: none;
  }

  .tooltipContainer {
    background-color: rgba(0, 0, 0, 0.3);
    & .popupContent {
      transform: translate(0, 0);
      position: absolute;
      display: flex;
      z-index: var(--tooltip);
      left: 0;
      bottom: calc(0px - var(--half-unit));
      width: 100%;
      padding: var(--double-unit);
      max-height: 90%;
      max-width: 100%;
      background-color: var(--base-weak);
      color: var(--base-strong);
      font-weight: 400;
      font-size: 16px;
      border-radius: var(--unit) var(--unit) 0 0;
    }
  }

  .tooltipAnchor {
    position: static;
    width: 100%;
    height: 100%;
  }

  .closeIcon {
    cursor: pointer;
    height: 10px;
    display: flex;
    color: var(--base-strong);
  }

  .markdown {
    flex: 1 1 0;
    & a {
      &:visited,
      &:link,
      &:active,
      &:hover {
        color: var(--accent-strong);
      }
    }
  }
}
