.polygonSelectionToolbox {
  position: absolute;
  left: 8px;
  top: 8px;
  box-shadow: 0px 1px 4px -2px #000 !important;
}

.leftButton {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.middleButton {
  border-radius: 0 !important;
}

.rightButton {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.buttonPressed {
  background-color: #ccc !important;
}
