.markdown {
  & p {
    margin: 0;
  }
  & a {
    word-break: break-all;
    &:visited,
    &:link,
    &:active,
    &:hover {
      color: var(--accent-strong);
    }
  }
  & ul {
    padding-left: var(--double-unit);
  }
  & h4 {
    margin: var(--unit) 0;
  }
}

@media (--mobile) {
  .markdown {
    flex: 1 1 0;
    & a {
      &:visited,
      &:link,
      &:active,
      &:hover {
        color: var(--accent-strong);
      }
    }
  }
}
