.scale {
  font-size: 10px;
  border: 2px solid #333;
  border-top: none;
  padding: 0 5px;
  color: #333;
  box-sizing: border-box;
  margin: 0;
  margin: 2px;
}

@media screen and (max-height: 320px) {
  .scale {
    display: none;
  }
}
