.inputWrap {
  position: relative;
}

textarea {
  width: 100%;
  border-radius: var(--border-radius-unit);
  border: none;
  box-shadow: 0 0 0 1px var(--faint-strong-down);
  line-height: 20px;
  padding: var(--unit);

  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: 0 0 0 1px var(--faint-strong);
  }
}

.topPlaceholder {
  color: var(--faint-strong);
  position: absolute;
  top: -10px;
  left: 8px;
  background: var(--base-weak);
  padding: 0 4px;
  font-size: 12px;
  pointer-events: none;
  max-width: calc(100% - 25px);
}

.focus {
  & textarea {
    box-shadow: 0 0 0 2px var(--complimentary-strong-down) !important;
  }

  & .topPlaceholder {
    color: var(--complimentary-strong) !important;
  }
}
