@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.LoadingSpinner {
  animation: spin 2s linear infinite;
  color: var(--accent-strong);
}

.DoneIcon {
  color: var(--success-strong);
}

.PopupContainer {
  display: flex;
  align-items: center;
  padding-bottom: 4px;

  & svg {
    margin-right: 7px;
  }
}
