.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(356px, 1fr));
  gap: 8px;
}

.card {
  box-sizing: content-box;
  /* padding: 8px; */
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.12);
  & dl {
    margin: 0;
    display: grid;
    grid-template-columns: 20px 1fr;
    & dt {
      font-size: 0.9em;
    }
    & dd {
      /* outline: 1px #eee solid; */
      background-color: #eee;
      box-sizing: border-box;
      padding: 2px 4px;
    }
    row-gap: 4px;
  }
}

.tcard {
  padding: 1rem;
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.12);
  border: thin #eee solid;
  display: flex;
  flex-direction: column;
  flex: 1;
  & textarea {
    resize: vertical;
    font-size: 11px;
    line-height: 14px;
    min-height: 50vh;
    border: thin #eee solid;
  }
}

.error {
  border-color: red;
}
