.nameWithLegend {
  position: relative;
  width: 100%;
}

.headline {
  display: flex;
  align-items: center;
}
.layerName {
  font-weight: 500;
}

.headline .tooltip {
  right: 4px;
  top: 2px;
}

.controlIcons{
  margin-left: auto;
}

.inlineIcon{
  margin-right: var(--half-unit);
}