.clickThrough {
  pointer-events: none;
  & > * {
    pointer-events: auto;
  }
}

.mainView {
  height: 100%;
  width: 100%;
  position: relative;
}

.mapWrap {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: 100%;
  position: absolute;
}

.Map {
  /* Make map fill only it's content width to show controlers */
  height: 100%;
  width: 100%;

  min-width: 100px;
  flex: 1;

  & .maplibregl-canvas {
    width: 100% !important;
  }
}

.crosshair {
  left: calc(50%);
  top: calc(50%);
  transform: translate(-50%, -50%);
  position: absolute;
  content: '+';
  text-align: center;
  font-size: 24px;
  color: var(--faint-strong-up);
}

.footer {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: flex-end;
  gap: var(--unit);
  padding: 0 var(--unit);
}

/* laptop viewport */
@media screen and (max-width: 1530px) {
  .footer {
    position: relative;
    grid-column: 1/2;
    grid-row: -2;
  }
}

.afterChatContentWrap {
  display: flex;
}

.footerBackground {
  padding: 2px;
  border-radius: 2px;
  display: flex;
  gap: var(--unit);
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 360px) {
  .footer {
    align-items: flex-end;
    flex-flow: column nowrap;
  }
  .footerBackground {
    background-color: transparent;
    flex-flow: column nowrap;
    align-items: flex-end;
  }

  .footerBackground > * {
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.toolbarHeaderTitle {
  min-width: unset;
  max-width: 260px;
}
