.clickThrough {
  pointer-events: none;
  & > * {
    pointer-events: auto;
  }
}

.mainView {
  height: 100%;
  width: 100%;
  position: relative;
}

.mapWrap {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: 100%;
  position: absolute;
}

.Map {
  /* Make map fill only it's content width to show controlers */
  height: 100%;
  width: 100%;

  min-width: 100px;
  flex: 1;

  & .maplibregl-canvas {
    width: 100% !important;
  }
}

.footer {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: end;
  gap: var(--unit);
}

/* laptop viewport */
@media screen and (max-width: 1530px) {
  .footer {
    position: relative;
    grid-column: 1/2;
    grid-row: -2;
  }
}

.afterChatContentWrap {
  display: flex;
}
