.clickThrough {
  pointer-events: none;
  & > * {
    pointer-events: auto;
  }
}
.mainViewWrap {
  flex-grow: 1;
}

.mainView {
  height: 100%;
  width: 100%;
  position: relative;
}

.mapWrap {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  width: 100%;
  position: absolute;
}

.Map {
  /* Make map fill only it's content width to show controlers */
  height: 100%;
  width: 100%;

  min-width: 100px;
  flex: 1;

  & .maplibregl-canvas {
    width: 100% !important;
  }
}

.footer {
  height: 40px;
  width: 100%;
  position: relative;
}

.logo {
  position: absolute;
  right: var(--unit);
  bottom: var(--unit);
}



/* laptop viewport */
@media screen and (max-width: 1530px) {
  .footer {
    position: relative;
    grid-column: 1/2;
    grid-row: -2;
  }
}

/* Mobile view */
@media screen and (max-width: 960px) {
  .footer {
    position: relative;
    grid-column: 1/2;
    grid-row: 6;
    & .logo {
      position: static;
    }
  }
}

.afterChatContentWrap {
  display: flex;
}
