.panelBody {
  width: 100%;
  height: 100%;
  padding: var(--double-unit) var(--half-unit);
  resize: both;
  overflow: auto;
}

@media screen and (max-width: 960px) {
  .panelBody {
    width: 100vw;
  }
}
