.hoveredCell {
  background: var(--hover-bg-color);
}

.valueCell {
  text-align: center;
  position: relative;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  cursor: pointer;
  border: 1px dashed #eee;
  height: 37px;
  width: 37px;
}

.rotatedCell {
  transform: rotate(45deg);
  pointer-events: none;
}

.valueCell:hover {
  background: #e5e5e5;
}

.valueFill {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #5bdff4;
  border-radius: 50%;
  pointer-events: none;
}

.disabled {
  background-color: #f9f9f9;
}

.selectedCol {
  border-right: var(--selection-border-style) !important;
  border-left: var(--selection-border-style) !important;
}

.selectedCol.first {
  border-top: var(--selection-border-style) !important;
}

.selectedCol.last {
  border-bottom: var(--selection-border-style) !important;
}

.selectedRow {
  border-top: var(--selection-border-style) !important;
  border-bottom: var(--selection-border-style) !important;
}

.selectedRow.first {
  border-left: var(--selection-border-style) !important;
}

.selectedRow.last {
  border-right: var(--selection-border-style) !important;
}

.selectedCol.selectedRow {
  background: #ddd !important;
}
