.panel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;

  &.collapse {
    height: auto;
    & div:not(:first-child) {
      display: none;
    }
  }
}

.scrollable {
  overflow-y: auto;
  height: 100%;
}

.panelIcon.desktop {
  display: none;
}

/* mobile */
@media screen and (max-width: 960px) {
  .panel.show {
    max-height: calc(100vh - 60px);
  }
  .panel.collapse {
    display: none;
  }

  .scrollable {
    width: 100%;
  }

  .panelIcon.mobile {
    display: flex;
    &.show {
      transition: opacity 0.33s linear 0s;
      visibility: visible;
      opacity: 1;
    }

    &.hide {
      visibility: hidden;
      opacity: 0;
    }
  }
}
