.panel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 1;

  &.collapse {
    height: auto;
  }
}

.scrollable {
  overflow-y: auto;
  height: 100%;
}

.panelIcon.desktop {
  display: none;
}

/* mobile */
@media screen and (max-width: 960px) {
  .scrollable {
    width: 100%;
  }

  .panel {
    border-radius: calc(var(--border-radius-unit) * 2);
  }
}
