h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

blockquote {
  column-count: 2;
  column-gap: 1rem;
  margin: 0;
}

blockquote img {
  break-inside: column;
}

blockquote h3 {
  break-before: column;
  margin-top: 0;
}

blockquote * {
  padding-left: 0 !important;
}

section.col3_6 {
  display: contents;

  & div {
    margin-left: 33%;
    & p {
      position: relative;
    }
  }

  & img {
    left: -50%;
    position: absolute;
  }
}
