/* stylelint-disable */
.toolbar {
  display: flex;
  flex-direction: row;
  gap: var(--unit);

  & .toolButton {
    background-color: var(--base-weak);
    color: var(--base-strong-down);
    box-shadow: none;
  }

  & .active .toolButton {
    background-color: var(--brand-strong-down);
    color: var(--accent-strong-down);
  }

  & .toolButton:focus-visible {
    outline: var(--primary-focus-outline-regular);
    box-shadow: var(--button-box-shadow);
  }

  & .toolButton:hover {
    color: var(--base-strong);
    background-color: var(--base-weak);
  }
}

.toolbar .active button:active {
  background-color: var(--brand-strong-down);
}

.toolButton {
  background-color: var(--base-weak);
  color: var(--base-strong-down);
  box-shadow: none;
  outline: 0;
}
.toolbarItem {
  box-shadow: var(--elevation-1);
  border-radius: var(--border-radius);
}

/* stylelint-enable */
@media screen and (max-width: 960px) {
  .toolbar {
    flex-direction: column;
  }
}
