/* stylelint-disable */
.toolbar {
  display: flex;
  flex-direction: row;
  gap: var(--unit);

  & .toolButton {
    background-color: var(--base-weak);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }

  & .toolButton:hover {
    color: var(--base-strong);
    background-color: var(--base-weak);
  }
}

.toolButton {
  color: var(--base-strong-down);
}

.toolButton:focus {
  border: 1px solid var(--complimentary-strong);
}
/* stylelint-enable */
@media screen and (max-width: 960px) {
  .toolbar {
    flex-direction: column;
  }
}
