.unit {
  color: var(--text-faint-strong);
}

.layer {
  display: flex;
  flex-flow: column;
  padding: var(--half-unit) var(--unit);
}

.layerHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.layerEditContainer {
  width: 100%;
  margin-top: 12px;
  padding: var(--half-unit) var(--unit) var(--unit);
  font-size: 12px;
}

.layer:hover {
  background-color: var(--accent-weak);
}

.layerButtons {
  display: flex;
  flex-flow: row nowrap;
}

.infoButton {
  height: 16px;
  width: 16px;
  cursor: pointer;
  color: var(--faint-strong);
}

.nonDefaultValues {
  color: var(--faint-strong);
  font-size: 12px;
  line-height: 16px;
}

/* Text input */
.textInputBox {
  padding: var(--half-unit);
  height: 30px;
  width: 50%;
}

.textInputBox input,
.rangeInputBox input {
  font-size: 11px;
}

.inputRangeDivider {
  margin: 0 var(--half-unit);
}

.hiddenError {
  visibility: hidden;
  height: 0;
  width: 0;
  padding: 0;
}

.error {
  margin: var(--half-unit) 0;
  color: red;
  font-size: 12px;
  line-height: 16px;
}

.rangeInputContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 144px;
}

.rangeInputBox {
  padding: var(--half-unit);
  height: 30px;
  width: 100%;
}

.rangeInputRoot {
  flex-grow: 0.5;
  position: relative;
  width: 55px;
}

/* Select input */
.selectInput {
  display: flex;
  flex-direction: row;
}

.selectInput button {
  max-width: 90%;
  height: 30px;
}

.selectInput button span {
  font-size: 11px;
  margin-top: -3px;
}

.selectInputBox {
  font-size: 11px;
}

.rangeTextButtonsContainer {
  width: 100%;
  margin-top: calc(-1 * var(--half-unit));
}

.rangeTextButtons {
  margin-top: calc(-1 * var(--half-unit));
  color: var(--accent-strong);
  cursor: pointer;

  &:not(:first-child) {
    margin-left: var(--unit);
  }
}

.textButtonDisabled {
  color: var(--faint-strong);
}

.editButton {
  margin-inline-end: var(--unit);
  cursor: pointer;
  color: var(--accent-strong);
  visibility: hidden;
  align-items: flex-start;
}

.layer:hover .editButton {
  visibility: visible;
}

.editorButtonsContainer {
  margin-top: 16px;
}

.saveButton {
  margin-right: var(--half-unit);
}

.invisible {
  display: none;
}
