.group {
  margin-left: calc(var(--unit) + var(--half-unit));
  margin-bottom: var(--unit);
}

.groupTitle {
  font-weight: bold;
}

.group > div {
  margin-top: var(--unit);
}

.childrenWrap {
  margin-top: var(--unit);
}
.childrenWrap .bivariateLegendWrap {
  padding-right: var(--double-unit);
}

.groupControl {
  color: var(--primary-text-active);
}
