.mapContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.closeFullscreenButton {
  z-index: 3;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 50%;
}

.expandFullscreenButton {
  z-index: 3;
  position: absolute;
  bottom: 30px;
  right: 65px;
}
