.stat {
  color: #051626;
  margin-top: 12px;

  & .statHead {
    font-weight: bold;
    display: inline-flex;
    flex-flow: row nowrap;
    position: relative;
    gap: var(--half-unit);
    align-items: center;
    justify-content: center;
  }

  & .statSplitter {
    display: inline-block;
    margin: 0 var(--unit);
  }

  & .detailsLink {
    display: block;
    color: #0c9bed;
    text-decoration: none;
    font-size: 13px;
    margin-top: var(--half-unit);
  }
}

.link {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  display: block;
  text-decoration: none;
  color: #0c9bed;
}

.link:hover {
  text-decoration: underline;
}
