.info {
  display: flex;
  gap: 5px;
  background: var(--accent-weak);
  border-radius: 4px;
  padding: 9px 10px;
  margin-bottom: var(--double-unit);
}

.stat {
  display: flex;
  justify-content: space-between;
  padding: var(--half-unit) 0;

  & .labels,
  & .values {
    display: flex;
    flex-direction: column;

    & span:first-child {
      font-weight: bold;
    }
  }

  & .values {
    text-align: right;

    & .unitLabel {
      color: var(--faint-strong-up);
    }
  }
}
