.stat {
  color: #051626;
  margin-top: 12px;
  &:first-child {
    margin-top: 0;
  }

  & .statHead {
    font-weight: bold;
    display: inline-flex;
    flex-flow: row nowrap;
    position: relative;
    gap: var(--half-unit);
    align-items: center;
    justify-content: center;
  }

  & .statSplitter {
    display: inline-block;
    margin: 0 var(--unit);
  }

  & .detailsLink {
    display: block;
    color: var(--accent-strong);
    text-decoration: none;
    font-size: 13px;
    margin-top: var(--half-unit);
  }
}
