.labelsList {
  display: flex;
  gap: var(--half-unit);
}

.labelsList > div {
  background-color: var(--faint-weak);
  color: var(--base-strong);
  padding: var(--half-unit) var(--unit);
  border-radius: var(--double-unit);
  font: 500 var(--font-xs);
}
