.indicator {
  transform: skew(-24deg, 0);
  display: flex;
  flex-flow: row nowrap;
  gap: 3px;
  margin-bottom: -1px; /* Align with near text baseline */
}

.indicatorCell {
  width: 12px;
  height: 10px;
}
