.knt-breadcrumbs:not(.add-spec),
.knt-panel-icon:not(.add-spec) {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
}

@media screen and (min-width: 961px) {
  .knt-panel:not(.add-spec),
  .knt-panel-header:not(.add-spec),
  .knt-search-button:not(.add-spec),
  .knt-toolbar-button:not(.add-spec) {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);

    & * {
      scrollbar-color: var(--scrollbar-thumb) rgba(255, 255, 255, 0.5);
    }
  }
}
