.formContainer {
  padding-top: var(--double-unit);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--double-unit);

  & .formParam {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--unit);
    width: 100%;

    & > [class*='_root'] {
      width: 100%;
    }

    & button {
      color: var(--base-strong-down);
    }
  }

  & .formInputContainer {
    width: 100%;
  }

  & .buttonsContainer {
    display: flex;
    gap: var(--unit);
  }
}
