.planCard {
  /* Color for plan type, highlights, link */
  --primary-color: var(--success-strong);
  /* Color for plan type background */
  --secondary-color: #def5df;
  /* Background color of card */
  --plan-bg-color: transparent;
  /* Border color of card */
  --plan-border-color: var(--faint-weak-up, #d2d5d8);
  /* Color for buttons hover */
  --cta-hover-color: #269b00;

  border: 1px solid var(--plan-border-color);
  border-radius: var(--double-unit, 16px);
  padding: 48px 40px 24px;
  height: 578px;
  max-width: 400px;
  min-width: 220px;
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: var(--plan-bg-color);

  &:hover {
    box-shadow: var(--shadow-medium);
  }

  /* Specific custom styles */
  &.custom {
    --primary-color: var(--base-strong-down);
    --secondary-color: var(--faint-weak);
    --cta-hover-color: var(--base-strong);
  }

  /* Specific premium styles */
  &.premium {
    --primary-color: var(--accent-strong);
    --secondary-color: #d8effc;
    --plan-bg-color: var(--accent-weak);
    --plan-border-color: var(--accent-weak-up);
    --cta-hover-color: var(--accent-strong-up);
  }

  /* Highlights section */
  & ul {
    list-style: none;
    padding: 0;
    margin: 0;

    & li {
      margin: 5px 0;
    }

    & li::before {
      content: '✔';
      display: inline-block;
      margin-right: var(--double-unit);
      color: var(--primary-color);
    }
  }
}

.planType {
  position: absolute;
  padding: var(--unit) var(--double-unit);
  border-radius: 18px;
  right: 40px;
  top: -18px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  display: flex;
  align-items: center;
}

.planCard.custom .planType::before {
  content: '★';
  font-size: 22px;
  padding-right: 4px;
  position: relative;
  top: -2px;
}

.initialPrice {
  color: var(--faint-strong, #9ea5ab);
  text-decoration: line-through;
  margin-bottom: var(--double-unit);
}

.price {
  margin-bottom: var(--double-unit);
}

.hidden {
  visibility: hidden;
}

.perMonth {
  font-size: 14px;
  color: #888;
  margin-left: 5px;
}

.customPlanName {
  font-weight: 500;
  line-height: 40px;
  font-size: 52px;
  margin: 36px 0 21px;
}

.planDescription {
  color: var(--faint-strong);
  margin: 0 0 var(--double-unit);

  & a:global(.external) {
    color: var(--accent-strong);
  }
}

.buttonWrapper {
  margin-bottom: 24px;
  column-gap: 16px;
  display: flex;
  align-items: center;
}

.subscribeButtonsWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  row-gap: 11px;

  /* Paypal buttons specific styles */
  & > div {
    width: 100%;
  }
}

.cancelButton {
  position: relative;
  bottom: -11px;
}

.footerWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
  color: var(--faint-strong);

  & span {
    color: var(--faint-strong-down);
  }
}

.linkAsButton {
  font: var(--font-xs);
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.019px;
  color: var(--primary-color);
  padding: 10px 12px;
  border-radius: var(--border-radius);
  border: 1px solid var(--primary-color, #2e3d4a);
  text-decoration: none;
  cursor: pointer;

  &:hover {
    border-color: var(--cta-hover-color);
    color: var(--cta-hover-color);
  }

  &:focus-visible {
    outline: none;
    box-shadow:
      0 0 0 2px var(--base-weak),
      0 0 0 4px var(--complimentary-strong);
  }
}

.paymentPlanButton {
  background-color: var(--primary-color);

  &:hover {
    background-color: var(--cta-hover-color);
  }
}
