.panelContainer {
  display: flex;
  flex-flow: column nowrap;
  &.open {
    height: 100%;
  }
}

.panelIcon {
  display: none;
  z-index: 1;
}

.scrollable {
  overflow-y: auto;
  height: 100%;
  /* a space to see at least one card */
  min-height: 110px;
  align-items: center;
}

.scrollable > div {
  width: 100%;
  margin: 0;
}

.eventsPanel {
  position: relative;
  border-radius: var(--border-radius-unit);
  flex: 1;

  &.show > .contentWrap {
    display: flex;
    height: 100%;
  }

  &.collapse {
    display: block;
    flex: none;
    & > .contentWrap {
      display: none;
    }
  }
}

.panelBody {
  width: 100%;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 960px) {
  .eventsPanel.show {
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100vw;
    & > div {
      width: 100%;
    }
  }
  .eventsPanel.collapse {
    display: none;
  }
  .scrollable {
    width: 100vw;
  }

  .panelIcon {
    display: flex;
    &.show {
      transition: opacity 0.33s linear 0s;
      visibility: visible;
      opacity: 1;
    }

    &.hide {
      visibility: hidden;
      opacity: 0;
    }
  }
}
