.panelContainer {
  position: absolute;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.eventsPanelComponent {
  display: flex;
  flex-direction: column;
}

.panelIcon {
  display: none;
  z-index: 1;
}

.scrollable {
  display: flex;
  overflow-y: auto;
  width: 320px;
  height: 100%;
  flex: 1;
  padding-bottom: var(--double-unit);
}

.scrollable > div {
  width: 100%;
}

.eventsPanel {
  z-index: 1; /* Show shadow over map */
  position: relative;
  align-self: flex-start;
  left: 0;
  border-radius: var(--border-radius-unit);
  flex: 1;

  &.show {
    transition: visibility 0s linear 0s, opacity 0.33s linear 0s, left 0.1s linear 0s;
    visibility: visible;
    opacity: 1;
    & > div:nth-child(2) {
      display: flex;
    }
  }

  &.collapse {
    transition: visibility 0s linear 0.33s, opacity 0.33s linear 0s, left 0.15s linear 0s;
    display: block;
    flex: none;
    & > div:nth-child(2) {
      display: none;
    }
  }
}

@media screen and (max-width: 960px) {
  .eventsPanel.show {
    position: absolute;
    margin: 0;
    height: 100%;
    width: 100vw;
    align-items: center;
    & > div {
      width: 100%;
    }
  }
  .eventsPanel.collapse {
    display: none;
  }
  .scrollable {
    width: 100vw;
  }

  .panelIcon {
    display: flex;
    &.show {
      transition: opacity 0.33s linear 0s;
      visibility: visible;
      opacity: 1;
    }

    &.hide {
      visibility: hidden;
      opacity: 0;
    }
  }
}
