.panelBody {
  display: flex;
  flex-flow: column nowrap;
  flex: 1;
}

.eventsPanelComponent {
  display: flex;
  flex-direction: column;
}

.panelContainer {
  position: relative;
}

.panelIcon {
  z-index: 1;

  &.show {
    transition: visibility 0s linear 0s, opacity 0.33s linear 0s;
    visibility: visible;
    opacity: 1;
  }

  &.hide {
    transition: visibility 0s linear 0.33s, opacity 0.33s linear 0s;
    visibility: hidden;
    opacity: 0;
    height: 0;
    width: 0;
  }
}

.scrollable {
  display: flex;
  overflow-y: auto;
  width: 320px;
  height: 100%;
  flex: 1;
  padding-bottom: var(--double-unit);
}

.scrollable > div {
  width: 100%;
}

.eventsPanel {
  z-index: 1; /* Show shadow over map */
  position: relative;
  align-self: flex-start;
  left: -100px;
  border-radius: var(--border-radius-unit);
  flex: 1;

  &.show {
    transition: visibility 0s linear 0s, opacity 0.33s linear 0s, left 0.1s linear 0s;
    visibility: visible;
    opacity: 1;
    left: 0;
  }

  &.hide {
    transition: visibility 0s linear 0.33s, opacity 0.33s linear 0s, left 0.15s linear 0s;
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    z-index: -1;
    opacity: 0.2;
    left: -150px;
  }
}

.header {
  /* Temp padding right. Remove at #12405 */
  padding: var(--unit) var(--double-unit);
  display: flex;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .eventsPanel {
    position: absolute;
    margin: 0;
    height: calc(100vh - var(--header-height));
    width: 100vw;
    align-items: center;
  }
  .eventsPanel > div {
    width: 100%;
  }
  .panelBody {
    align-items: center;
  }
  .scrollable {
    width: 100%;
  }
}
