.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(356px, 1fr));
  gap: 8px;
}

.card {
  box-sizing: content-box;
  padding: 8px;
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.12);
  & dl {
    margin: 0;
    display: grid;
    grid-template-columns: 20px 1fr;
    & dt {
      font-size: 12px;
    }
    & dd {
      outline: 1px #eee solid;
      background-color: #f8f8f8;
      box-sizing: border-box;
      padding: 2px 4px;
    }
    row-gap: 4px;
  }
}

.tcard {
  padding: 1rem;
  box-shadow: 0 1px 6px 2px rgba(0, 0, 0, 0.12);
  border: thin #eee solid;
  display: flex;
  flex-direction: column;
  flex: 1;
  & textarea {
    font-size: 11px;
    line-height: 14px;
    flex: 1;
    overflow: auto;
    border: thin #eee solid;
  }
}

.error {
  border-color: red;
}

.debugger {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1;
  & .grid {
    height: 50vh;
    overflow: scroll;
  }
}
.editors {
  display: flex;
  flex: 1;
}
