.tooltipContent {
  padding: var(--half-unit) var(--unit);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  background: var(--back-faint-weak-down);
  color: var(--base-weak);
  pointer-events: all;
  max-width: 268px;
  z-index: var(--tooltip);
}

.arrow {
  fill: currentColor;
  color: var(--back-faint-weak-down);
}

.InfoPopoverTrigger {
  display: flex;
  color: var(--faint-strong);
}

.PopoverArrow {
  fill: var(--base-weak);
}

/* Optional: Add a subtle border to make it stand out more */
.PopoverArrow path:first-of-type {
  stroke: var(--faint-strong-down);
  stroke-width: 1;
}

.Popover {
  background-color: var(--base-weak);
  color: var(--base-strong);
  box-shadow: var(--shadow-large);
  font: var(--font-xs);
  padding: var(--unit) 3px var(--unit) var(--unit);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  min-width: 268px;
  max-width: calc(100vw - 36px);
  z-index: calc(var(--tooltip) - 1);
}

.PopoverContent {
  max-height: 30em;
  max-width: 40em;
  overflow-y: auto;
  scrollbar-gutter: stable; /* Reserve space for the scrollbar */
  box-sizing: border-box;
}

.PopoverClose {
  position: absolute;
  top: 0;
  right: 0;
}

.markdown {
  & p {
    margin: 0;
  }
  & a {
    word-break: break-all;
    &:visited,
    &:link,
    &:active,
    &:hover {
      color: var(--accent-strong);
    }
  }
  & ul {
    padding-left: var(--double-unit);
  }
  & h4 {
    margin: var(--unit) 0;
  }
}

/* Mobile breakpoint --mobile */
@media (max-width: 960px) {
  .tooltipContent {
    top: unset !important;
    left: 0 !important;
    right: 0 !important;
    position: absolute;
    display: flex;
    bottom: calc(0px + var(--half-unit));
    width: 100%;
    padding: var(--double-unit);
    max-height: 90%;
    max-width: 100%;
    background-color: var(--base-weak);
    color: var(--base-strong);
    font-weight: 400;
    font-size: 16px;
    border-radius: var(--unit) var(--unit) 0 0;
    box-sizing: border-box;
  }

  .arrow {
    display: none;
  }

  .markdown {
    flex: 1 1 0;
    & a {
      &:visited,
      &:link,
      &:active,
      &:hover {
        color: var(--accent-strong);
      }
    }
  }
}
