.axisCaptionRoot {
  position: relative;
  transform: rotate(45deg);
}

.axisCaptionAnchor {
  position: absolute;
}

.axisCaptionBody {
  transform: rotate(-90deg) scale(calc(100 / 70));
  position: absolute;
  left: -105px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  font-size: 8px;
  color: var(--faint-strong);
  white-space: nowrap;
  top: -16px;

  & .tooltipHover {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    cursor: pointer;
  }
}

.axisCaptionText {
  font-size: 12px;
  line-height: 16px;
  width: 280px;

  & > * {
    margin: 0;
  }

  & > ul {
    padding-left: 20px;
  }
}

.popupContent {
  max-width: 300px;
  max-height: unset;
}
