.modalCard {
	box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
	border-radius: 12px;
	padding: 48px 56px;
}

.socialLoginContainer {
	display: flex;
	gap: 12px;
	margin-top: 24px;
}

.socialButton {
	box-shadow: none !important;
	border-radius: 4px;
	border: 1px solid #A4D1EB;
	font-family: "Roboto", Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #0C9BED;
	padding: 12px 16px;

	&:hover {
		background-color: var(--primary-surface-hover);
	}

	&:active {
		background-color: var(--primary-surface-disabled) !important;
	}
}

.useEmailLabelContainer {
	display: flex;
	justify-content: center;
	position: relative;
	margin-top: 18px;
}

.useEmailLabelContainer::after {
	content: '';
	border-top: 1px solid #D7DADC;
	position: absolute;
	width: 100%;
	margin-top: 12px;
}

.useEmailLabel {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #8C949B;
	background: #fff;
	padding: 0 16px;
	z-index: 1;
}

.inputsContainer {
	margin-top: 24px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.inputBox {
	box-shadow: none !important;
}

.input {
	background-color: #fff;
	height: 44px;
	font-size: 16px !important;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;
	border-radius: 4px;
	padding: 11px 12px !important;
	border: 1px solid #AFB4BA !important;
}

.input:-webkit-autofill {
	-webkit-background-clip: text;
}

.topPlaceholder {
	font-size: 12px;
}

.link {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 22px;
	color: #0C9BED;
	cursor: pointer;

	&:hover {
	  text-decoration: underline;
	}
}

.forgotPasswordContainer {
	margin-top: 16px;
}

.loginButtonContainer {
	margin-top: 24px;
}

.loginButton {
	background: #0C9BED;
	color: #fff;
	width: 100%;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	height: 44px;
	border-radius: 5px;
	border: 2px solid transparent;
	box-shadow: none !important;

	&:hover {
		 border: 2px solid #0000004d;
	}

	&:active {
		 background: #168acc !important;
		 color: #eee !important;
	}
}

.signUpContainer {
	margin-top: 16px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	display: flex;
	justify-content: center;
}

.inputError {
	border: 2px solid #EC0000 !important;
}

.topPlaceholderError {
	color: #EC0000;
}

.errorMessage {
	color: #EC0000;
}

.loadingContainer {
	position: absolute;
	background: rgba(255, 255, 255, .7);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.errorMessageContainer {
	margin-top: 8px;
	margin-top: 16px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	display: flex;
	justify-content: center;
	color: #EC0000;
}
