.spinner {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 2em;
  text-align: center;
}

.icon {
  display: block;
  width: 100px;
  height: 100px;
  margin: 1em;
}

.animationContainer {
  padding: 1em;
}

.fullScreenLoader {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
