.hexagon {
  height: 45px;
  width: 45px;
  background: var(--base-weak);

  clip-path: polygon(
    25% 5%,
    75% 5%,
    100% 50%,
    75% 95%,
    25% 95%,
    0% 50%
  ); /* https://stackoverflow.com/a/60967560 */

  & > div {
    color: var(--base-strong);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
