.fieldContainer {
  position: relative;
  background: var(--faint-weak-down);
  padding: var(--double-unit);
  margin: 0 -16px;
  display: flex;
  flex-direction: column;
  gap: var(--unit);

  & .sortBtn,
  & .removeBtn {
    color: var(--faint-strong);
  }

  & .sortBtn {
    position: absolute;
    top: 4px;
    left: 0;
    cursor: pointer;
  }

  & .removeBtn {
    position: absolute;
    padding: var(--half-unit);
    cursor: pointer;
    right: 12px;
    top: 4px;
    border-radius: var(--half-unit);

    &:hover {
      background: var(--faint-weak);
    }

    &:active {
      background: var(--faint-weak-up);
    }

    & svg {
      width: 16px;
      height: 16px;
    }
  }

  & .fieldPlaceholder {
    & .fieldLabel {
      font-weight: 500;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 8px;
    }

    & .input {
      height: 40px;
      padding: var(--unit);
      width: 100%;
      border-radius: var(--border-radius);
      box-shadow: 0 0 0 1px var(--faint-strong-down);
      border: none;
      color: var(--base-strong);
      background-color: var(--base-weak);

      &:focus {
        outline: none;
        box-shadow: 0 0 0 2px var(--complimentary-strong-down);
      }
    }

    & .input.placeholder {
      color: var(--faint-strong-up);
      & option {
        color: var(--base-strong);
      }
      & option.placeholderOption {
        color: var(--faint-strong-up);
      }
    }
  }
}
