.sidebar > div {
  padding: 8px;
}

.toggleContainer {
  margin-top: auto;
}

.bottomLogoContainer {
  margin-top: 12px;
}

.collapsed .bottomLogoContainer svg {
  width: 32px;
}

.navButton {
  text-decoration: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

  &.sidebarButton {
    margin: 0;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

    & svg {
      width: 16px;
      height: 16px;
    }
  }
}

.navButton.sidebarButton span {
  padding-left: 6px;
}

.collapsed .navButton.sidebarButton {
  flex-direction: column;
}

.open {
  width: auto;
}

.logoDivider {
  margin: 8px 0;
  height: 1px;
  background-color: #fff;
  opacity: 0.3;
  width: 100%;
}

.topLevelRoute {
  margin-top: 4px;
}

.logoDivider + .topLevelRoute {
  margin-top: 0;
}

.nestedRoute {
  margin-top: 2px;

  & .sidebarButton {
    padding-left: 24px;
  }
}

.collapsed .nestedRoute {
  & .sidebarButton {
    padding-left: 0;
  }
}
