.sidebarItemContainer,
.toggler {
  z-index: 1;
  display: inline-block;
  padding: 0 var(--unit);
  margin: var(--unit) 0;
  text-decoration: none;
}

.buttonWrap {
  margin: 0 auto;

  & button:focus {
    box-shadow: none;
  }
  & button:focus-visible {
    box-shadow: var(--button-box-shadow);
  }
}

.collapsed .sidebarItemContainer {
  padding: 0;
  margin: var(--unit);
}

.controlButton {
  width: 100%;
  justify-content: left;
  margin: 0;
}

.togglerContainer {
  flex-grow: 1;
  display: flex;
}

.toggler {
  margin-top: auto;
}

.toggler button:focus {
  box-shadow: none;
}

.toggler button:focus-visible {
  box-shadow: var(--button-box-shadow);
}
