.sideBarContainer {
  z-index: 1;
  display: inline-block;
  /* width: 48px; */
  /* text-align: center; */
  padding: 0 var(--unit);
  margin: var(--unit) 0;
  & .buttonWrap {
    margin: 0 auto;
  }
  & button {
    margin: 0;
  }
}

.controlButton {
  width: 100%;
  justify-content: left;
}
