.ColorLegendContainer {
  display: flex;
}

.List {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-right: 1px solid var(--faint-weak);
  min-width: 670px;
  height: calc(100vh - 50px);
}
