.ColorLegendContainer {
  display: flex;
}

.LegendMap {
  display: flex;
  flex-direction: column;
  width: 492px;
  flex-shrink: 0;
}

.ListFilters {
  display: flex;
  align-items: center;
  padding: 24px 32px 16px 32px;
}

.List {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  border-right: 1px solid var(--faint-weak);
  min-width: 440px;
  max-height: calc(100vh - 50px);
}

.ListBody {
  display: flex;
  overflow: auto;
  padding: 0 calc(var(--unit) * 3) 0 calc(var(--unit) * 3);
  justify-content: center;
}

.LayersFilterMenu {
  z-index: 2;
  max-height: 60vh;
  overflow: auto;
}
