.drawToolsContainer {
  z-index: 100;
}

.toolBox {
  position: absolute;
  top: 4%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  border-radius: var(--half-unit);
  overflow: hidden;
  box-shadow: var(--elevation-1);
  height: 40px;
}

.btnContent {
  display: flex;
  gap: var(--unit);
  align-items: center;
}

.toolBoxBtn {
  display: flex;

  & button {
    &:focus {
      box-shadow: inset 0 0 0 2px var(--complimentary-strong);
    }
    &:disabled {
      cursor: not-allowed;
    }
  }

  &:not(:nth-last-child(-n + 2)) button {
    border-right: 1px solid var(--base-strong) !important;
  }
}

.drawHint {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
  background-color: var(--base-strong);
  color: var(--accent-strong);
  padding: var(--half-unit) var(--unit);
  border-radius: var(--border-radius);
  top: 12%;
}
