.drawToolsContainer {
  z-index: 100;
}

.toolBox {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  border-radius: var(--half-unit);
  background-color: var(--base-strong-down);
  overflow: hidden;
  box-shadow: var(--elevation-1);
  height: 40px;
}

.btnContent {
  display: flex;
  gap: var(--unit);
  align-items: center;
}

.toolBox > button {
  border-radius: 0;
  &:focus {
    border: 2px solid var(--accent-strong) !important;
    box-shadow: none;
    padding: 10px;
  }
  &:disabled {
    cursor: not-allowed;
  }
  &:not(:nth-last-child(-n + 2)) {
    border-right: 1px solid var(--base-strong);
  }
}

.drawHint {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
  background-color: var(--base-strong);
  color: var(--accent-strong);
  padding: var(--half-unit) var(--unit);
  border-radius: var(--border-radius);
  bottom: 16%;
}
