.drawToolsContainer {
  z-index: 100;
}

.toolBox {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  border-radius: var(--half-unit);
  background-color: var(--neutral-neutral-90);
  overflow: hidden;
  box-shadow: var(--elevation-1);
}

button.modeBtn,
button.modeBtn:disabled {
  background-color: var(--neutral-neutral-90);
}

.modeBtn:hover {
  background-color: var(--primary-surface-active);
}
.modeBtn:focus {
  border: 2px solid var(--invert-outline-icon-active);
  padding: calc(var(--unit) - 2px);
  box-shadow: none;
}
.modeBtn:disabled {
  cursor: not-allowed;
}
.modeBtn:disabled > * {
  color: var(--primary-icon-disabled);
}

.btnContent {
  display: flex;
  gap: var(--unit);
  align-items: center;
  font-size: var(--font);
  height: 24px;
  padding: 0 var(--unit);
  color: var(--neutral-neutral-40);
}

.finishBtn {
  background-color: var(--invert-outline-text-active) !important;
  & .btnContent {
    color: var(--white);
  }
}

/* stylelint-disable */
.modeBtn {
  &[class*='active'] {
    & > * {
      color: var(--primary-text-active);
    }
    background-color: var(--primary-surface-active);
    & .btnContent {
      color: var(--primary-icon-active);
      & svg * {
        stroke: var(--primary-text-active);
      }
    }
  }
}
/* stylelint-enable */

.drawHint {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
  background-color: var(--primary-surface-active);
  color: var(--invert-outline-text-active);
  padding: var(--half-unit) var(--unit);
  border-radius: var(--border-radius);
  bottom: 16%;
}
