.contentWrap {
  display: grid;
  height: 100%;
  gap: var(--unit);
  padding: var(--unit);
  grid-template-columns: minmax(320px, 1fr) minmax(440px, 4fr);
  grid-template-rows: calc(100% - 20px - var(--unit) - var(--unit)) 20px var(--unit);
}

.panelsColumn {
  grid-column: 1;
  grid-row: 1/2;
}

.mapWrap {
  display: flex;
  flex-flow: column nowrap;
}

.mapSpaceBlank {
  flex: 1;
}

.mapSpaceBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--unit);
  & > * {
    flex: 1 0 auto;
  }
}

.footerWrap {
  width: 100%;
  grid-row: 2;
  grid-column: 1/-1;
  height: 100%;
}
