.headerContainer {
  position: sticky;
  top: 0;
}

.customAppTitle {
  align-self: center;
  padding: var(--unit);
  /* temporary solution */
  margin-left: calc(var(--unit) * -2);

  color: var(--invert-text-regular);
  font-weight: 500;
  letter-spacing: 0.03em;
  font-size: 14px;
}
.clickable {
  cursor: pointer;
}

.betaTag {
  margin-left: auto;
  align-self: center;
}
