.layerControl {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 var(--unit);
  &:hover {
    background-color: var(--primary-surface-hover);
  }
}

.hidden {
  opacity: 0.5;
}

.layerInput {
  flex: 1;
}

.notInteractive {
  cursor: default;
  > input[type='checkbox'] {
    display: none;
  }
}

.layerLabel {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.layerLabelIcon {
  margin-left: calc(var(--unit) * -1);
  svg {
    display: block;
  }
}

.controlsBar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: 2px; /* with of focus outile */
}

.loading {
  opacity: 0.5;
}

.error {
  color: red !important;
}
