table {
  border-collapse: collapse;
  width: 100%;
  table-layout: auto;
}

thead {
  box-shadow: inset 0px 1px 0px var(--faint-weak);
  background: #f0f0f0;
}

th {
  top: 0px;
  position: sticky;
  background: #f0f0f0;
  padding: 6px 8px;
  text-align: left;
  font: var(--font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20.8px;
  width: auto;
  /* white-space: nowrap; */
}

tbody tr {
  box-shadow: inset 0 -1px #b9b9b9;
}

tbody tr:nth-child(even) {
  background: var(--faint-weak-down);
}

td {
  padding: 10px 8px;
  font: var(--font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20.8px;
  width: auto;
}
td a {
  cursor: pointer;
  display: flex;
}

.subRow {
  box-shadow: none;
}

.nested {
  padding-left: 28px;
}

.columnTitle {
  margin-right: 8px;
}

.noSort img {
  display: none;
}

.sortIcon img {
  transition: 300ms;
  display: inline-block;
}

.defaultSort img {
  opacity: 0;
}

.ascending img {
  opacity: 1;
}

.descending img {
  opacity: 1;
  transform: rotate(180deg);
}

.defaultSort:hover img {
  opacity: 0.3;
}
