.dimension {
  padding: var(--double--unit) var(--unit);
  width: 100%;
}

.dimensionName {
  font-weight: 600;
}

.layerRow {
  display: flex;
  margin-top: var(--unit);
}

.layerEditor {
  flex: 1;
}

.dimensionTypeSelect {
  width: 90px;
  margin: var(--unit) 2px;
}

.deleteButton {
  align-items: flex-start;
  padding: calc(var(--unit) / 2);
}
