.dimension {
  padding: var(--double--unit) var(--unit);
  max-height: 50vh;
  overflow-y: auto;
  width: 100%;
}

.dimensionName {
  font-weight: 600;
}

.layerRow {
  display: flex;
  margin-top: var(--unit);
}

.layerEditor {
  flex: 1;
}

.dimensionTypeSelect {
  width: 90px;
  margin: var(--unit) 2px;
}

.deleteButton {
  align-items: flex-start;
  padding: calc(var(--unit) / 2);
}

@media screen and (max-width: 960px) {
  .dimension {
    height: auto;
    overflow-y: visible;
  }
}
