.bivariateLegend {
	position: relative;
	margin: var(--unit) 0;
	overflow:hidden ;
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
.headline {
	display: flex;
	flex-flow: row nowrap;
}

.tooltip {
	right: 4px;
	top: 2px;
}

.layerName {
	font-weight: 500;
	font-size: 14px;
	padding-right: 20px;
	display: inline-block;
	line-height: 120%;
	margin-bottom: 8px;
}
