.container {
  width: 513px;
  height: 291px;
  border-radius: var(--half-unit);
  overflow: hidden;
  position: relative;

  & .closeButton {
    cursor: pointer;
    color: var(--faint-strong);
    position: absolute;
    top: 10px;
    right: 12px;

    &:hover {
      color: var(--faint-strong-down);
    }

    &:active {
      color: var(--faint-strong-up);
    }
  }
}
