.linkWidthWrap {
  position: relative;
  max-width: 192px;
  & .linkOverflowWrap {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  & .link {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    display: block;
    text-decoration: none;
    color: var(--accent-strong);
    cursor: pointer;
  }

  & .link::after {
    content: attr(data-truncate);
    position: absolute;
    left: 100%;
    top: 0;
    white-space: nowrap;
  }

  & .link:hover {
    text-decoration: underline;
    &::after {
      text-decoration: underline;
    }
  }
}
