.linkWidthWrap {
  position: relative;
  & .truncate,
  .tail {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline-block;
  }

  & .link {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    display: block;
    text-decoration: none;
    color: var(--accent-strong);
    cursor: pointer;
  }

  & .link:hover {
    text-decoration: underline;
    &::after {
      text-decoration: underline;
    }
  }
}
