.shield {
  display: flex;
  gap: var(--half-unit);
  background: var(--accent-weak);
  border-radius: var(--half-unit);
  padding: var(--unit);
  margin: var(--double-unit);
}

.headerTitle {
  white-space: nowrap;
  overflow: hidden;
  & h4 {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.panelIcon.desktop {
  display: none;
  z-index: 1;
}

.iconWrap {
  display: flex;
}

.panelBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: var(--unit);
}

.featuresPanel {
  position: relative;
  border-radius: var(--border-radius-unit);
  overflow: hidden;
  flex: 1;

  &.show > .panelBody {
    height: 100%;
  }

  &.collapse {
    display: block;
    flex: none;
    & > .contentWrap {
      display: none;
    }
  }
}

/* Overrides hardcoded color in the lib */
.backdrop {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

/* mobile */
@media screen and (max-width: 960px) {
  .featuresPanel {
    border-radius: calc(var(--border-radius-unit) * 2);

    &.collapse {
      display: none;
    }
  }

  .header {
    &:before {
      position: absolute;
      content: '';
      display: block;
      width: 36px;
      height: 4px;
      top: calc(8px + env(safe-area-inset-top));
      left: 50%;
      transform: translateX(-50%);
      border-radius: 2px;
      background-color: #cccccc;
    }
  }

  .headerTitle {
    height: 31px;
  }

  .scrollable {
    width: 100vw;
  }
}

.scrollable {
  overflow: hidden;
  height: 100%;
  /* a space to see at least one card */
  align-items: center;
}

.height100vh {
  height: 100vh;
}

.shortPanel {
  width: 100%;
  height: min-content;
}

.noFeatures {
  text-align: center;
  padding: calc(var(--unit) * 4) 0;
}

.callToAction {
  width: 100%;
}

/* Remove divider between HOT Tasking Manager cards */
.featuresPanel :global(.knt-card) {
  border-bottom: none;
}

.featuresPanel :global(.knt-card + .knt-card) {
  border-top: none;
}
