.shield {
  display: flex;
  gap: var(--half-unit);
  background: var(--accent-weak);
  border-radius: var(--half-unit);
  padding: var(--unit);
  margin: var(--double-unit);
}

.headerTitle {
  white-space: nowrap;
  overflow: hidden;
  & h4 {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.panelIcon.desktop {
  display: none;
  z-index: 1;
}

.iconWrap {
  display: flex;
}

.panelBody {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.featuresPanel {
  position: relative;
  border-radius: var(--border-radius-unit);
  overflow: hidden;
  flex: 1;

  &.show > .panelBody {
    height: 100%;
  }

  &.collapse {
    display: block;
    flex: none;
    & > .contentWrap {
      display: none;
    }
  }
}

/* mobile */
@media screen and (max-width: 960px) {
  .featuresPanel.collapse {
    display: none;
  }
}

.header {
  &:before {
    position: absolute;
    content: '';
    display: block;
    width: 36px;
    height: 4px;
    top: calc(8px + env(safe-area-inset-top));
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
    background-color: #cccccc;
  }
}

.scrollable {
  overflow: hidden;
  height: 100%;
  /* a space to see at least one card */
  align-items: center;
}

.height100vh {
  height: 100vh;
}

/* mobile */
@media screen and (max-width: 960px) {
  .scrollable {
    width: 100vw;
  }
}

.shortPanel {
  width: 100%;
  height: min-content;
}

.noFeatures {
  text-align: center;
  padding: calc(var(--unit) * 4) 0;
}

.callToAction {
  width: 100%;
}
