.contentWrap {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
}
.notFlexParent {
  width: 100%;
}

.flexWrap {
  flex: 1 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto 0;
}

.profileWrap,
.settingsWrap {
  display: flex;
  flex-direction: column;
}

.profileForm,
.settingsForm {
  margin-top: var(--double-unit);
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: var(--section);
  min-width: var(--min-section);
}

.divider {
  min-height: 100%;
  max-height: 100vh;
  margin: 0 80px 80px 80px;
  background-color: #eceeef;
  border-width: 0;
  width: 1px;
}

.authInput:-webkit-autofill {
  -webkit-background-clip: text;
}

.biography {
  max-width: var(--section);
}

.saveWrap {
  margin-top: 40px;
  text-align: end;
}

.spinnerContainer {
  /* same height as button it's replacing, cosmetic addition */
  height: 42px;
  & > svg {
    height: 32px;
  }
}

.logoutWrap {
  width: 100%;
  display: flex;
  justify-content: center;
  & > button {
    margin: var(--unit);
  }
}

.smallTitle {
  font-weight: 500;
  & + * {
    margin-top: var(--unit);
  }
}

.textArea {
  width: 100%;
  & textarea {
    resize: vertical;
  }
}
.textAreaPlaceholder {
  white-space: pre-wrap;
}

/* Mobile view */
@media screen and (max-width: 550px) {
  .divider {
    display: none;
  }
}
