.contentWrap {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: auto;
  padding-top: 80px;

  @media screen and (max-width: 960px) {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }
}

.flexWrap {
  flex: 1 0 auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.navSection,
.settingsSection {
  display: flex;
  flex-direction: column;
}

.navSection {
  width: 240px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin: 0 131px;
  position: sticky;
  left: 0;
  top: 0;
}

.settingsColumn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
}

.logoutWrapper {
  margin: auto 0 var(--double-unit);

  @media screen and (max-width: 960px) {
    display: none;
  }
}

.mobileLogoutWrapper {
  display: none;
  @media screen and (max-width: 960px) {
    display: block;
    margin-top: var(--double-unit);
  }
}

.settingsSection {
  display: flex;
  flex-direction: column;
  width: 404px;

  & textarea {
    width: 100%;
    min-height: 180px;
    max-height: 250px;
    resize: vertical;
  }

  & .placeholder {
    text-wrap: wrap;
  }
}

.fieldsWrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.profileForm,
.settingsForm {
  margin-top: var(--double-unit);
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: var(--section);
  min-width: var(--min-section);
}

.authInput:-webkit-autofill {
  -webkit-background-clip: text;
}

.biography {
  max-width: var(--section);
}

.saveWrap {
  text-align: end;
  position: sticky;
  bottom: 0;
  padding: 16px;
  z-index: 10;
  background-color: white;
  border-top: 1px solid var(--faint-weak-up);
  width: 100%;
}

.spinnerContainer {
  /* same height as button it's replacing, cosmetic addition */
  height: 42px;

  & > svg {
    height: 32px;
  }
}

.recommendedSection {
  background-color: var(--accent-weak);
  padding: var(--double-unit);
  border: 1px solid #e0e7ef;
}

.smallTitle {
  font-weight: 500;

  & + * {
    margin-top: var(--unit);
  }
}

.textArea {
  width: 100%;

  & textarea {
    resize: vertical;
  }
}

.descriptionBlock {
  margin: var(--unit) 0 12px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2px;
  row-gap: var(--unit);
}

.tag {
  padding: calc(var(--half-unit) / 2) var(--unit);
  border: 1px solid var(--accent-weak-up);
  border-radius: 20px;
}

.horizontalDivider {
  height: 1px;
  background-color: var(--faint-weak-up);
  width: 450px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
