.contentWrap {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: auto;
  padding-top: 80px;

  @media screen and (max-width: 960px) {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }
}

.navSection {
  max-width: 240px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin: 0 auto;
  position: sticky;
  left: 0;
  top: 0;

  @media screen and (max-width: 960px) {
    margin: 0 0 var(--double-unit);
    row-gap: var(--double-unit);
    max-width: 404px;
  }
}

.settingsColumn {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin: auto;

  @media screen and (max-width: 960px) {
    min-height: 0;
    flex-shrink: 1;
    width: 100%;
    overflow-y: auto;
    max-width: unset;
  }
}

.logoutWrapper {
  margin: auto 0 var(--double-unit);

  @media screen and (max-width: 960px) {
    display: none;
  }
}
.mobileLogoutWrapper {
  display: none;

  @media screen and (max-width: 960px) {
    display: block;
    margin-top: var(--double-unit);
  }
}

.settingsSection {
  display: flex;
  flex-direction: column;
  max-width: 404px;

  & .textArea {
    width: 100%;
  }

  & textarea {
    width: 100%;
    min-height: 180px;
    max-height: 250px;
    resize: vertical;
  }

  & .placeholder {
    text-wrap: wrap;
  }
}

.fieldsWrapper {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  padding-inline: 1px;
}

.authInput:-webkit-autofill {
  -webkit-background-clip: text;
}

.saveWrap {
  text-align: end;
  position: sticky;
  bottom: 0;
  padding: var(--double-unit);
  z-index: 10;
  background-color: white;
  border-top: 1px solid var(--faint-weak-up);
  width: 450px;

  @media screen and (max-width: 960px) {
    width: 100%;
    text-align: start;
  }
}

.spinnerContainer {
  /* same height as button it's replacing, cosmetic addition */
  height: 42px;

  & > svg {
    height: 32px;
  }
}

.fancySection {
  background-color: var(--accent-weak);
  padding: var(--double-unit);
}

.smallTitle {
  font-weight: 500;

  & + * {
    margin-top: var(--unit);
  }
}

.descriptionBlock {
  margin: var(--unit) 0 12px;
  display: flex;
  flex-direction: column;
  row-gap: var(--unit);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2px;
  row-gap: var(--unit);
}

.tag {
  padding: calc(var(--half-unit) / 2) var(--unit);
  border: 1px solid var(--accent-weak-up);
  border-radius: 20px;
}
