.contentWrap {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: calc(40px + var(--double-unit)) minmax(40px, 100vw);
  grid-template-rows: 1fr 1fr 1fr var(--unit);
}

@media screen and (max-width: 360px) {
  .contentWrap {
    grid-template-rows: 1fr 1fr 1fr 0;
  }
}

.panelsColumn {
  display: flex;
  flex-direction: column;
  grid-row: 2;
  grid-column: 1;
  gap: var(--unit);
  padding: var(--unit);
}

.mapWrap {
  grid-row: 2;
  grid-column: 2;
  display: flex;
  flex-flow: column;
  gap: var(--unit);
  padding: var(--unit);
}

.mapSpaceRight {
  margin-left: auto;
}

.footerWrap {
  display: flex;
  grid-column: 1/-1;
  grid-row: 3;
}

.bottomBorder {
  grid-column: 1/-1;
  grid-row: -1;
  height: var(--unit);
}
