.panelContainer {
  height: var(--panel-header-height);
  min-height: var(--panel-header-height);
  &.open {
    height: auto;
    min-height: calc(var(--panel-header-height) + 60px);
  }
}
.legendPanel {
  pointer-events: auto;
  position: relative;
  z-index: 1; /* Show shadow over map */
  margin-right: var(--unit);
  align-self: flex-start;
  border-radius: var(--border-radius);
  height: 100%;
  width: 100%;

  /* Allow resize for content container */
  & > div:nth-child(2) {
    min-height: 60px;
    overflow-y: auto;
    resize: vertical;
  }

  &.collapse {
    & div:not(:first-child) {
      display: none;
    }
  }
}

.panelBody {
  width: 100%;
  padding: var(--double-unit);
  overflow-x: hidden;
}
.panelBody :first-child {
  margin-top: 0;
}

.panelIcon {
  display: none;
}

.iconContainerShown {
  display: block;
}

.iconContainerHidden {
  display: none;
}

.legendContainer {
  margin-bottom: var(--unit);
  & .layerControl {
    padding: 0;
    &:hover {
      background: none;
    }
  }
}

.legendLabel {
  display: flex;
  flex-flow: row;
  gap: var(--half-unit);
  margin-bottom: var(--half-unit);
}

.legendBody {
  margin-left: var(--double-unit);
}

.alignRight {
  margin-left: auto;
}

@media screen and (max-width: 960px) {
  .legendPanel.show {
    position: absolute;
    margin: 0;
    width: 100vw;
    max-height: unset;
    height: 100%;
    align-items: center;
    & > div {
      width: 100%;
    }
  }

  .legendPanel.collapse {
    display: none;
  }

  .panelIcon {
    display: flex;
    z-index: 1;

    &.show {
      transition: opacity 0.33s linear 0s;
      visibility: visible;
      display: flex;
      opacity: 1;
    }
  }
}
