.legendPanel {
  pointer-events: auto;
  position: relative;
  z-index: 1; /* Show shadow over map */
  margin-right: var(--unit);
  align-self: flex-start;
  border-radius: var(--border-radius);
  height: 100%;
  width: 100%;

  &.collapse {
    & div:not(:first-child) {
      display: none;
    }
  }
}

.panelBody {
  width: 100%;
  padding: var(--double-unit);
  overflow-x: hidden;
}
.panelBody :first-child {
  margin-top: 0;
}

.panelIcon {
  display: none;
}

.iconContainerShown {
  display: block;
}

.iconContainerHidden {
  display: none;
}

.legendContainer {
  margin-bottom: var(--unit);
  & .layerControl {
    padding: 0;
    &:hover {
      background: none;
    }
  }
}

.legendLabel {
  display: flex;
  flex-flow: row;
  gap: var(--half-unit);
  margin-bottom: var(--half-unit);
}

.legendBody {
  margin-left: var(--double-unit);
}

.alignRight {
  margin-left: auto;
}

/* Desktop only */
@media screen and (min-width: 1900px) {
  /* Prevent resizing out of parent container */
  .panelContainer.isOpen {
    min-height: 120px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: var(--elevation-1);
  }
}

/* Mobile */
@media screen and (max-width: 960px) {
  .legendPanel.show {
    position: absolute;
    margin: 0;
    width: 100vw;
    max-height: unset;
    height: calc(100% - var(--app-header-height));
    align-items: center;
    & > div {
      width: 100%;
    }
  }

  .legendPanel.collapse {
    display: none;
  }

  .panelIcon {
    display: flex;
    z-index: 1;

    &.show {
      transition: opacity 0.33s linear 0s;
      visibility: visible;
      display: flex;
      opacity: 1;
    }
  }
}
