.modeWrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;

  @media screen and (max-width: 960px) {
    padding: 0;
  }
}

.loginWrap {
  margin: auto;
  max-width: 280px;
}
