.panelContainer {
  position: relative;
}

.panelIcon {
  z-index: 1;
  /* REMOVE # 11728 */

  position: absolute;
  top: var(--unit);
  left: var(--unit);

  &.show {
    transition: visibility 0s linear 0s, opacity 0.33s linear 0s;
    visibility: visible;
    opacity: 1;
  }

  &.hide {
    transition: visibility 0s linear 0.33s, opacity 0.33s linear 0s;
    visibility: hidden;
    opacity: 0;
    height: 0;
    width: 0;
  }
}

.sidePanel {
  /* RESTORE # 11728 */
  /* position: relative;  
border-radius: var(--border-radius-unit); */

  z-index: 3; /* Show shadow over map */
  align-self: flex-start;
  left: -100px;

  /* REMOVE # 11728 */
  position: absolute;
  margin-left: var(--unit);
  margin-top: var(--unit);
  border-radius: var(--border-radius-unit);

  &.show {
    transition: visibility 0s linear 0s, opacity 0.33s linear 0s, left 0.1s linear 0s;
    visibility: visible;
    opacity: 1;
    left: 0;
  }

  &.hide {
    transition: visibility 0s linear 0.33s, opacity 0.33s linear 0s, left 0.15s linear 0s;
    visibility: hidden;
    opacity: 0;
    left: -150px;
    height: 0;
    width: 0;
  }
}

.panelBody {
  width: 320px;
  padding: 0 var(--double-unit) var(--double-unit) var(--double-unit);
}

.header {
  border-bottom: none;
  padding-bottom: 0;
}
