.panelContainer {
  position: relative;
}

.sidePannel {
  z-index: 1; /* Show shadow over map */
  position: absolute;
  border-radius: 0;
  margin-left: 8px;
  align-self: flex-start;
  left: -100px;

  &.show {
    transition: visibility 0s linear 0s, opacity 0.33s linear 0s,
      left 0.1s linear 0s;
    visibility: visible;
    opacity: 1;
    left: 0;
  }

  &.hide {
    transition: visibility 0s linear 0.33s, opacity 0.33s linear 0s,
      left 0.15s linear 0s;
    visibility: hidden;
    opacity: 0;
    left: -150px;
  }
}

.panelBody {
  width: 320px;
  min-height: 400px;
}

.header {
  border-bottom: none;
}
