.panelContainer {
  position: relative;
}

.panelIcon {
  display: none;
}

.analyticsPanel {
  /* RESTORE # 11728 */
  /* position: relative;  
border-radius: var(--border-radius-unit); */

  z-index: 3; /* Show shadow over map */
  align-self: flex-start;
  height: 0;

  /* REMOVE # 11728 */
  position: absolute;
  margin-left: var(--unit);
  margin-top: var(--unit);
  border-radius: var(--border-radius-unit);

  &.show {
    transition: visibility 0s linear 0s, height 0.1s linear 0s;
    visibility: visible;
    opacity: 1;
    height: 100%;
  }

  &.collapse {
    transition: visibility 0s linear 0s, height 0.1s linear 0s;
    visibility: visible;
    height: var(--panel-header-height);
    overflow: hidden;
  }
}

.header {
  padding: 10px var(--double-unit);
  display: flex;
  align-items: center;
}

.panelBody {
  width: 320px;
  padding: var(--double-unit);
}

@media screen and (max-width: 960px) {
  .analyticsPanel.show {
    margin: 0;
    width: 100vw;
    height: calc(100vh - var(--header-height));
    align-items: center;
    & .header {
      height: var(--panel-header-height-mobile);
    }
    & > div {
      width: 100%;
    }
  }
  .analyticsPanel.collapse {
    display: none;
  }

  .panelIcon {
    z-index: 1;
    display: flex;
    /* REMOVE # 11728 */

    position: absolute;
    top: var(--unit);
    left: var(--unit);

    &.show {
      transition: visibility 0s linear 0s, opacity 0.33s linear 0s;
      visibility: visible;
      opacity: 1;
    }

    &.hide {
      transition: visibility 0s linear 0.33s, opacity 0.33s linear 0s;
      visibility: hidden;
      opacity: 0;
    }
  }
}
