.panelContainer {
  position: relative;
}

.panelIcon {
  display: none;
}

.analyticsPanel {
  /* RESTORE # 11729 */
  /* position: relative;  
border-radius: var(--border-radius-unit); */

  z-index: 1; /* Show shadow over map */
  align-self: flex-start;

  /* REMOVE # 11729 */
  position: absolute;
  margin-left: var(--unit);
  margin-top: var(--unit);
  border-radius: var(--border-radius-unit);
  /* . */

  height: auto;
  &.collapse {
    & div:not(:first-child) {
      display: none;
    }
  }
}

.panelBody {
  width: 320px;
  padding: var(--double-unit);
}

@media screen and (max-width: 960px) {
  .analyticsPanel.show {
    margin: 0;
    width: 100vw;
    height: 100%;
    align-items: center;
    & > div {
      width: 100%;
    }
  }
  .analyticsPanel.collapse {
    display: none;
  }
  .panelBody {
    margin: 0 auto;
  }

  .panelIcon {
    z-index: 1;
    display: flex;
    /* REMOVE # 11729 */

    position: absolute;
    top: var(--unit);
    left: calc(var(--double-unit) + 24px + var(--unit));

    &.show {
      transition: opacity 0.33s linear 0s;
      visibility: visible;
      opacity: 1;
    }

    &.hide {
      transition: opacity 0.33s linear 0s;
      visibility: hidden;
      opacity: 0;
    }
  }
}
