.panelContainer {
  position: relative;
}

.panelIcon {
  display: none;
}

.analyticsPanel {
  z-index: 1; /* Show shadow over map */
  align-self: flex-start;

  border-radius: var(--border-radius-unit);

  height: auto;
  &.collapse {
    & div:not(:first-child) {
      display: none;
    }
  }
}

.panelBody {
  width: 320px;
  padding: var(--double-unit);
}

/* laptop */
@media screen and (max-width: 1900px) {
  .panelBody {
    height: 260px;
    width: 320px;
    padding: var(--double-unit);
    resize: vertical;
    overflow-y: auto;
  }
}
@media screen and (max-width: 960px) {
  .analyticsModal > section {
    top: calc(50% + var(--app-header-height)); /* header offset */
    height: 100vh;
    left: 50%;
    z-index: var(--modal);
  }

  .analyticsPanel.show {
    margin: 0;
    width: 100vw;
    height: 100%;
    align-items: center;
    & > div {
      width: 100%;
    }
  }
  .analyticsPanel.collapse {
    display: none;
  }
  .panelBody {
    height: 100%;
    margin: 0 auto;
    width: 100%;
  }

  .panelIcon {
    z-index: 1;
    display: flex;

    &.show {
      transition: opacity 0.33s linear 0s;
      visibility: visible;
      opacity: 1;
    }

    &.hide {
      visibility: hidden;
      opacity: 0;
    }
  }
}
