.legendWithMapContainer {
  padding: 30px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  gap: var(--double-unit);
  height: 100%;
  min-height: calc(100vh - 50px);
}

.axisDirectionLabel {
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  color: var(--base-strong);
}

.yAxisLabel {
  left: -2px;
  grid-area: 1 / 1 / -2 / 1;
  min-height: 160px;

  & .axisDirectionLabel {
    padding-right: 5px;
  }
}

.xAxisLabel {
  grid-area: -1 / 2 / -2 / -1;
  min-width: 160px;

  & .axisDirectionLabel {
    padding-top: 2px;
    padding-bottom: 5px;
  }
}

.LegendDetailsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Map {
  height: 100%;
  width: 100%;

  & .maplibregl-canvas {
    width: 100% !important;
  }
}

.LegendFullscreen {
  z-index: 3;
  padding: 12px 80px 12px 12px;
  background: white;
  position: fixed;
  right: 20px;
  top: 80px;
}
