.mainWrap {
  display: flex;
  margin: 0 auto;
  width: 100%;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 80px;
  overflow-y: auto;
}

.content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  line-height: 24px;
  box-sizing: content-box;
  padding-left: 14px;
  padding-right: 14px;
}

.mainWrap blockquote {
  margin-block-start: 2em;
  margin-block-end: 2em;
}

.mainWrap blockquote h3 {
  margin-block-end: 0em;
}

.mainWrap blockquote p {
  margin-block-start: 0.3em;
  padding-left: 1em;
}

.mainWrap h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 62px;
  display: flex;
  margin: 0 0 40px 0;
}

.mainWrap a {
  color: var(--accent-strong);
  text-decoration: none;
  cursor: pointer;
}

.content table {
  border-collapse: collapse;
}

.content td,
.content th {
  padding: var(--unit);
  border: 1px solid var(--faint-weak);
}

.content tr:nth-child(odd) {
  background-color: var(--base-weak-up);
}

/* TODO: Atlas specific styles, move to ups config after test */
:global(#app-id-9043acf9-2cf3-48ac-9656-a5d7c4b7593d) article {
  & section:last-child {
    display: grid;
    grid-template-columns: max-content auto;
    gap: 1em;
  }

  & h2 a {
    padding: var(--unit) 24px;
    user-select: none;
    font: var(--font);
    font-weight: 400;
    border: 1px solid var(--faint-weak);
    border-radius: var(--border-radius);
    min-width: 128px;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
  }

  & h2 em a {
    background-color: var(--accent-strong);
    color: var(--base-weak) !important;
  }
}
