.category {
  margin-left: calc(var(--unit) + var(--half-unit));
  margin-bottom: var(--unit);
}

.mountedLayersCounter {
  font-weight: normal;
  opacity: 0.5;
}

.categoryTitle {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--unit);
  font-weight: bold;
}
