.dimensionsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--unit);
}

.dimensionName {
  margin-top: var(--half-unit);
  margin-bottom: var(--unit);
}

.textIcon {
  margin-top: -1px;
  height: 18px;
  width: 18px;
}

.grayscale {
  filter: grayscale(1);
}
