.dimensionsContainer {
  display: flex;
  flex-direction: column;
  gap: var(--unit);
}

.dimensionName {
  margin-top: var(--half-unit);
  margin-bottom: var(--unit);
}

.textIcon {
  margin-top: 3px;
  height: 10px;
  display: inline;
}

.grayscale {
  filter: grayscale(1);
}
