.Map {
  height: 100%;
  min-width: 100px;
  flex: 1;
}

.root {
  display: flex;
  flex-flow: row nowrap;
  height: 100%;
  margin: 0;
}

.mainWrap {
  height: 100%;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
}
