.Map {
  /* Make map fill only it's content width to show controlers */
  height: 100%;
  width: 100%;
  min-width: 100px;
  flex: 1;

  & .maplibregl-canvas {
    width: 100% !important;
  }
}

.clickThrough {
  pointer-events: none;
  & > * {
    pointer-events: auto;
  }
}
.mainViewWrap {
  flex-grow: 1;
}

.mainView {
  height: 100%;
  width: 100%;
}

.mapWrap {
  display: flex;
  flex-flow: row nowrap;
  z-index: 1;
  height: 100%;
}

.footer {
  height: 40px;
  width: 100%;
  position: relative;
  grid-column: 1 / 2;
  z-index: 1;
}

.logo {
  position: absolute;
  left: var(--unit);
  bottom: var(--unit);
}

/* laptop viewport */
@media screen and (max-width: 1900px) {
  .footer {
    position: relative;
    grid-column: 1/2;
    grid-row: -2;
  }
}

/* Mobile view */
@media screen and (max-width: 960px) {
  .footer {
    position: relative;
    grid-column: 1/2;
    grid-row: 6;
    & .logo {
      position: static;
    }
  }
}

.customAppTitle {
  font-weight: 500;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.clickable {
  cursor: pointer;
}

.afterChatContentWrap {
  display: flex;
}
