.Map {
  /* Make map fill only it's content width to show controlers */
  height: 100%;
  height: stretch;
  width: 100%;
  width: stretch;

  min-width: 100px;
  flex: 1;
  position: absolute !important;

  & .maplibregl-canvas {
    width: 100% !important;
  }
}

.clickThrough {
  pointer-events: none;
  & > * {
    pointer-events: auto;
  }
}
.mainViewWrap {
  flex-grow: 1;
}

.mainView {
  height: 100%;
  width: 100%;
}

.mapWrap {
  display: flex;
  flex-flow: row nowrap;
  z-index: 1;
}

.footer {
  height: 40px;
  width: 100%;
  position: relative;
  grid-column: 1 / 2;
  z-index: 1;
}

.logo {
  position: absolute;
  left: var(--unit);
  bottom: var(--unit);
}

/* laptop viewport */
@media screen and (max-width: 1900px) {
  .footer {
    position: relative;
    grid-column: 1/2;
    grid-row: -2;
  }
}

/* Mobile view */
@media screen and (max-width: 960px) {
  .footer {
    position: relative;
    grid-column: 1/2;
    grid-row: 6;
    & .logo {
      position: static;
    }
  }
}

.customAppTitle {
  font-weight: 500;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.clickable {
  cursor: pointer;
}

.afterChatContentWrap {
  display: flex;
}
.link {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-style: normal;
  font-family: var(--font-family);
  font-weight: 500;
  letter-spacing: 0.2px;
  text-decoration: none;
  color: var(--button-invert-color);

  &:hover {
    color: var(--primary-focus-outline-regular);
  }

  & span {
    line-height: 0;
  }
}
