.mainWrap {
  place-content: center;
  flex: 1;

  padding-top: 80px;
  padding-bottom: 80px;
  overflow-y: auto;
}

.content {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  /* font-family: 'IBM Plex Sans'; */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.mainWrap blockquote {
  margin-block-start: 2em;
  margin-block-end: 2em;
}

.mainWrap blockquote h3 {
  margin-block-end: 0em;
}

.mainWrap blockquote p {
  margin-block-start: 0.3em;
  padding-left: 1em;
}

.pageTitle {
  /* font-family: 'IBM Plex Sans'; */
  font-weight: 500;
  font-size: 48px;
  line-height: 62px;
  display: flex;
  margin: 0 0 40px 0;
}

a,
.link {
  color: var(--accent-strong);
  text-decoration: none;
}

.linkToMain,
.linkToMain:visited {
  font-weight: 600;
  font-size: 20px;
  color: var(--accent-strong);
}
