.toolbarContent {
  padding: var(--unit);
  min-height: inherit;
  display: grid;
  grid-template-rows: repeat(6, auto);
  grid-auto-flow: column;
  gap: var(--half-unit);
  overflow-x: auto;
}

@media screen and (max-width: 960px) {
  .toolbarContent {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 12px;
    padding: calc(var(--unit) * 3) var(--double-unit);
  }
}
