.breadcrumbs {
  border-radius: var(--half-unit);
  display: inline-flex;
  flex-wrap: wrap;
  padding: var(--half-unit) var(--unit);
  /* margin added to allow space for shadows */
  margin: var(--half-unit);
  overflow: auto;
  background-color: var(--base-weak);
  box-shadow: var(--shadow-small);
}

.nav {
  /* negative margin used to compensate for breadcrumbs' margin */
  margin: calc(-1 * var(--half-unit));
}
