/* Base */
.buttonBase {
  color: inherit;
  border: 0;
  cursor: pointer;
  margin: 0;
  display: inline-flex;
  outline: 0;
  padding: 0;
  position: relative;
  align-items: center;
  user-select: none;
  border-radius: 0;
  vertical-align: middle;
  -moz-appearance: none;
  justify-content: center;
  text-decoration: none;
  background-color: transparent;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;

  svg {
    pointer-events: none;
  }
}

/* Action Button */
.buttonBase.actionBtn {
  padding: 0.2em 0.7em;
  background: #f0f0f0;
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  box-shadow: 0px 1px 4px -2px #a29e9e;
}

.buttonBase.actionBtn:hover {
  box-shadow: 0px 1px 4px -4px #a29e9e;
  background: #f9f9f9;
}

/* Icon Button */
.buttonBase.iconBtn {
  flex: 0 0 auto;
  color: rgba(0, 0, 0, 0.54);
  padding: 12px;
  overflow: visible;
  font-size: 1.5rem;
  text-align: center;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  border-radius: 50%;
}

.buttonBase.iconBtn:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
