.layerControl {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 var(--double-unit);
  &:hover {
    background-color: var(--accent-weak);
  }
}

.hidden {
  opacity: 0.5;
}

.layerLabel {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0 4px;
}

.layerLabelIcon {
  & svg {
    display: block;
    margin: 0 4px 0 0;
    width: 17px;
    height: 17px;
  }
}

.controlsBar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  gap: var(--unit);
  user-select: none;
}

.loading {
  opacity: 0.5;
  pointer-events: none;
}

.error {
  color: var(--error-strong) !important;
}
