.container {
  transition: 0.8;
  z-index: calc(var(--modal) + 1);
  margin: 2px auto;
  width: 540px;
  min-height: 44px;
}

/* Mobile view */
@media screen and (max-width: 550px) {
  .container {
    width: 100vw;
    padding: 20px 40px;
  }
}

.toast {
  padding: 10px 0 12px 0;
  box-shadow:
    0px 1px 2px rgba(0, 0, 0, 0.3),
    0px 16px 24px rgba(0, 0, 0, 0.06),
    0px 2px 6px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 4px;
  color: var(--base-weak);
  width: 100%;
}

.text {
  margin: 0 0 0 10px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  margin-left: 14px;
  display: flex;
}

.closeButtonContainer {
  padding: 10px;
  width: 44px;
  height: 44px;
  cursor: pointer;
  flex-shrink: 0;
}

.toast-error {
  background-color: var(--error-strong) !important;
}

.toast-warning {
  background-color: var(--warning-strong) !important;
}

.toast-info {
  background-color: var(--base-strong-down) !important;
}

.toast-success {
  background-color: var(--success-strong) !important;
}
