body {
  overflow-y: auto;
}

.mainWrap {
  padding: 144px 216px 191px 176px;
}

.titleRow {
  display: flex;
  margin-bottom: 26px;
}

.pageTitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
}

a,
.link {
  color: var(--accent-strong);
  text-decoration: none;
}

.linkToMain,
.linkToMain:visited {
  font-weight: bold;
  margin-left: auto;
  font-size: 40px;
  line-height: 52px;
}

.description {
  font-size: 20px;
  line-height: 28px;
}

.reportsIntro {
  width: 50%;
  margin-bottom: 69px;
}

.reportCards {
  display: flex;
  flex-wrap: wrap;
  transition: 300ms;
  gap: 23px;
}

.reportWrap {
  max-width: 46%;
  flex: 1 1 46%;
  padding: 33px 30px;
  border: 0.5px solid rgba(10, 22, 34, 0.25);
  box-sizing: border-box;
  cursor: pointer;
}

.reportWrap:hover {
  background-color: #e5f6ff;
}

.reportTitle {
  display: block;
  margin-bottom: 14px;
  font-size: 20px;
  line-height: 22px;
}

.reportDescr {
  font-size: 15px;
  line-height: 21.75px;
}

@media screen and (min-width: 1921px) {
  .mainWrap {
    padding: 181px 216px 191px 216px;
  }
  .titleRow {
    margin-bottom: 40px;
  }
  .pageTitle {
    font-size: 48px;
    line-height: 52px;
  }
  .linkToMain,
  .linkToMain:visited {
    font-size: 48px;
    line-height: 62.4px;
  }
  .description {
    font-size: 28px;
    line-height: 39.2px;
  }
  .reportsIntro {
    margin-bottom: 112px;
  }
  .reportCards {
    gap: 23px;
  }
  .reportWrap {
    max-width: 46%;
    flex: 1 1 46%;
    padding: 45px 43px;
  }
  .reportTitle {
    margin-bottom: 16px;
    font-size: 26px;
    line-height: 22px;
  }

  .reportDescr {
    font-size: 22px;
    line-height: 28.6px;
  }
}

@media screen and (max-width: 1200px) {
  .mainWrap {
    padding: 44px 2vw 44px 2vw;
  }
  .pageTitle {
    font-size: 32px;
    line-height: 32px;
  }
  .linkToMain,
  .linkToMain:visited {
    font-size: 32px;
    line-height: 44px;
  }

  .description {
    font-size: 18px;
    line-height: 24px;
  }
  .reportsIntro {
    margin-bottom: 30px;
  }

  .reportCards {
    gap: 12px;
  }
  .reportWrap {
    padding: 20px;
  }
  .reportTitle {
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 22px;
  }

  .reportDescr {
    font-size: 14px;
    line-height: 20px;
  }
}
