.panelContainer {
  position: relative;

  & .panelIcon {
    display: none;
  }

  & .panel {
    z-index: 1; /* Show shadow over map */
    align-self: flex-start;
    border-radius: var(--border-radius);
    height: 100%;

    &.collapse {
      height: auto;
      & div:not(:first-child) {
        display: none;
      }
    }
  }

  & .panelBody {
    width: 790px;
    height: 640px;
    padding: var(--double-unit);
    resize: both;
    overflow: auto;
  }

  & .header {
    /* Temp padding right. Remove at #12405 */
    padding: var(--unit) calc(var(--double-unit) + var(--icon-l) + var(--half-unit))
      var(--unit) var(--double-unit);
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 960px) {
  .panel.show {
    position: absolute;
    margin: 0;
    width: 100vw;
    max-height: unset;
    height: 100%;
    align-items: center;
    & > div {
      width: 100%;
    }
  }

  .panelBody {
    width: 100vw;
  }

  .panel.collapse {
    display: none;
  }

  .panelIcon {
    display: flex;
    z-index: 1;

    &.show {
      transition: opacity 0.33s linear 0s;
      visibility: visible;
      opacity: 1;
    }

    &.hide {
      transition: opacity 0.33s linear 0s;
      visibility: hidden;
      opacity: 0;
    }
  }
}
