.panelContainer {
  position: relative;
  /* REMOVE # 11728 */

  top: 55px;
  left: var(--unit);
}

.panelIcon {
  display: none;
}

.panel {
  z-index: 1; /* Show shadow over map */
  position: absolute;
  align-self: flex-start;
  height: 0;
  border-radius: var(--border-radius);

  &.show {
    transition: visibility 0s linear 0s, height 0.1s linear 0s;
    visibility: visible;
    height: auto;
  }

  &.collapse {
    transition: visibility 0s linear 0s, height 0.1s linear 0s;
    visibility: visible;
    height: var(--panel-header-height);
    overflow: hidden;
    max-width: 300px;
  }
}

.panelBody {
  width: 790px;
  height: 640px;
  padding: var(--double-unit);
  resize: both;
  overflow: auto;
}

.header {
  padding: 10px var(--double-unit);
  display: flex;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .panel.show {
    position: absolute;
    margin: 0;
    width: 100vw;
    max-height: unset;
    height: calc(100vh - var(--header-height));
    align-items: center;
    & > div {
      width: 100%;
    }
  }

  .panel.collapse {
    display: none;
  }

  .panelIcon {
    position: absolute;
    display: flex;
    z-index: 1;

    /* REMOVE # 11728 */
    top: 55px;
    left: var(--unit);

    &.show {
      transition: visibility 0s linear 0s, opacity 0.33s linear 0s;
      visibility: visible;
      opacity: 1;
    }

    &.hide {
      transition: visibility 0s linear 0.33s, opacity 0.33s linear 0s;
      visibility: hidden;
      opacity: 0;
    }
  }
}
