tr:nth-child(odd) {
  background-color: #eeecec;
}

.table_scroll {
  height: 90%;
  max-height: 700px;
  overflow: auto;
  font-size: 11px;
  white-space: nowrap;
}

.numerator {
  max-width: 245px;
  width: 245px;
  min-width: 245px;
}

.denominator {
  max-width: 120px;
  width: 120px;
  min-width: 120px;
}

.filter_text {
  width: 125px;
  border: 1px solid #dad8d8;
}

.table_scroll th {
  position: sticky;
  top: 0;
  background: #eeecec;
}

.sticky_div {
  position: sticky;
  top: 0;
}

.table_in_panel {
  width: 100%;
}
