tr:nth-child(odd) {
  background-color: #eeecec;
}

.table_scroll {
  height: 90%;
  max-height: 700px;
  overflow: auto;
  font-size: 11px;
}

.table_scroll th {
  position: sticky;
  top: 0;
  background: #eeecec;
}

.table_width {
  width: 100%;
}
