.bivariateContainer {
  overflow: hidden;
  margin-top: 50px; /* panel header offset */
  display: flex;
  justify-content: flex-end;
}

.header {
  position: absolute;
  right: 0;
  top: 40px;
  left: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 var(--double-unit);
  background-color: var(--base-weak);
  z-index: 1;

  & .hint {
    width: 205px;
    font-size: 12px;
    line-height: 16px;
    color: var(--faint-strong-up);
  }
}

.loadingContainer {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greetings {
  position: absolute;
  right: 14px;
  bottom: 14px;
}
