.bivariateContainer {
  overflow: hidden;
}

.header {
  position: absolute;
  right: 12px;
  top: 0px;
  left: 16px;
  display: flex;
  justify-content: space-between;
  padding: 16px 9px 16px 24px;
  background-color: var(--base-weak);
  z-index: 1;

  & .hint {
    width: 205px;
    font-size: 12px;
    line-height: 16px;
    color: var(--faint-strong-up);
  }
}

.matrixContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0.7);
  position: relative;
  left: 100px;
  top: 40px;
}

.loadingContainer {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.errorContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.greetings {
  position: absolute;
  right: 14px;
  bottom: 14px;
}
