.drawToolsContainer {
  z-index: 100;
}

.toolBox {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  border-radius: 4px;
  background-color: #32404d;
  overflow: hidden;
  box-shadow: var(--elevation-1);

  & button {
    background-color: #32404d;
    border-radius: 0;
    &:focus {
      box-shadow: none;
    }

    &:hover:not(:disabled) {
      background-color: #55616c;
    }
  }
}

.btnContent {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 14px;
  height: 24px;
  padding: 0 8px;
  color: #d7dadc;
}
.modeBtn:hover > * {
  color: var(--primary-focus-outline-regular);
}

.finishBtn {
  background-color: #0c9bed !important;
  & .btnContent {
    color: #fff;
  }
}

/* stylelint-disable */
.modeButton {
  &[class*='activeBtn'] {
    & button {
      background-color: #201d25;
      &:hover:not(:disabled) {
        background-color: #201d25;
      }
      & .btnContent {
        color: #26abff;
        & svg * {
          stroke: #26abff;
        }
      }
    }
  }
}
/* stylelint-enable */
.drawHint {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  cursor: pointer;
  background-color: #0a1622;
  color: #d7dadc;
  padding: var(--half-unit) var(--unit);
  border-radius: var(--border-radius);
  bottom: 16%;
}
