.toasts {
  position: absolute;
  top: 48px;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  transition: all 0.8s;
  z-index: 100;
}

/* Mobile view */
@media screen and (max-width: 550px) {
  .toasts {
    top: var(--double-unit);
  }
}

.enter {
  opacity: 0;
}

.enterActive {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.toastExit {
  opacity: 1;
  transform: translateY(0);
  animation: fadeToBottom 300ms forwards;
  -webkit-animation: fadeToBottom 0.3s forwards;
}

@keyframes fadeToBottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(10px);
    opacity: 0;
  }
}
