/*
  We have desktop-first design. It means all the styles for not desktop resolution
  must be specified under media query

  4k viewport: > 1921px
  desktop viewport: > 1530px (but usually not specified)
  laptop viewport: < 1530px
  mobile viewport: < 960px
*/

@import url('global-pages.css');

:root {
  --app-header-height: 44px;
  --panel-header-height: 40px;
}

/* Modern minimal reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Optional - handle images */
img {
  max-width: 100%;
  display: block;
}

html,
body {
  box-sizing: border-box;
  overflow: hidden;
  line-height: 1.4em;
}

html,
body,
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* ScrollBar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: #c4d0df;
}

/* Icons */
.svgIcon24 {
  width: 24px;
  height: 24px;
}

/*  Map markers */
.mapboxgl-marker > div {
  background: rgba(255, 255, 255, 0.7);
  padding: 0;
  & > div {
    background: rgba(255, 255, 255, 0.5);
  }
}

/* Map scale control */
.mapboxgl-ctrl-bottom-right {
  display: flex;
}
/* move map controls to the right so kontur logo wouldn't be overlapped */
.maplibregl-control-container .maplibregl-ctrl-bottom-right {
  right: calc(144px + var(--unit));
  display: flex;
  gap: var(--unit);
  align-items: center;
  bottom: calc(10px + var(--unit));
  & .mapboxgl-ctrl-scale {
    margin: 0;
    height: 20px;
  }

  /* basemap copyright */
  & .maplibregl-ctrl.maplibregl-ctrl-attrib {
    padding: 0;
  }
}

/* showCriticalError */
.critical-error-screen {
  margin: auto;
  display: flex;
  flex-flow: column;
  margin-top: 18vh;
  max-width: 50em;
  padding: 1em;
  & code {
    border: 1px solid #c4c4c4;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: smaller;
  }
}

/* router layout render */
.keep-alive-render {
  flex: 1;
  display: contents;
  & > .cache-component.active {
    display: contents;
  }
}
