<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!-- Favicons -->
  <link rel="icon" href="<%= require('./favicon/favicon.ico') %>" sizes="any">
  <link rel="icon" type="image/svg+xml" href="<%= require('./favicon/favicon.svg') %>">
  <link rel="apple-touch-icon" href="<%=require('./favicon/180.png') %>">
  <title>Disaster Ninja</title>
  <script>
    window.intercomSettings = {
      app_id: "e59cl64z",
      custom_launcher_selector: '#kontur_header_chat_btn'
    };
  </script>

  <script>
    // We pre-filled your app ID in the widget URL: 'https://widget.intercom.io/widget/e59cl64z'
    (function () { var w = window; var ic = w.Intercom; if (typeof ic === "function") { ic('reattach_activator'); ic('update', w.intercomSettings); } else { var d = document; var i = function () { i.c(arguments); }; i.q = []; i.c = function (args) { i.q.push(args); }; w.Intercom = i; var l = function () { var s = d.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = 'https://widget.intercom.io/widget/e59cl64z'; var x = d.getElementsByTagName('script')[0]; x.parentNode.insertBefore(s, x); }; if (w.attachEvent) { w.attachEvent('onload', l); } else { w.addEventListener('load', l, false); } } })();
  </script>
</head>

<body>
  <div id="root" style="height: 100%; margin: 0; display: flex; flex-flow: column nowrap"></div>
</body>

</html>