.ListFilters {
  display: flex;
  align-items: center;
  padding: 24px 32px 16px 32px;

  & .SentimentsFilters {
    width: 230px;
  }

  & .LayersFilters {
    margin-left: 20px;
  }
}

.LayersFilterMenu {
  z-index: 2;
  max-height: 60vh;
  overflow: auto;
}
