.ListFilters {
  display: flex;
  align-items: center;
  padding: 24px 32px 16px 32px;
  z-index: 2;

  & .NotDefinedCheckbox {
    color: var(--base-strong-down);
    margin-right: 10px;
  }

  & .SentimentsFilters {
    height: 36px;

    &.LastFilter {
      margin-right: 10px;
    }
  }

  & .LayersFilters {
    height: 36px;
  }

  & .NoValue.SentimentsAddButton {
    width: auto !important;

    & [class*='selectButton'] {
      min-width: auto;
    }

    & [class*='buttonsContainer'] {
      display: none;
    }
  }

  & [class*='multiselectChip'] {
    max-width: 100%;
  }

  & .FiltersContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  & .AutocompleteMenu {
    max-height: calc(100vh - 120px);
    overflow-y: auto;
  }
}
