.panelSettingsRow:not(:empty) {
  padding: var(--half-unit) var(--double-unit) var(--unit);
  border-bottom: 1px solid var(--faint-weak);
  gap: var(--unit);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
