.foldingLabel {
  display: flex;
  flex-flow: row nowrap;
  cursor: pointer;
  position: relative;
  flex: 1;
}

.foldingHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.foldingControls {
  display: flex;
  flex-flow: row nowrap;
}

.foldingTitle {
  width: 100%;
}

.foldingContent {
  margin-left: var(--unit);
}

.collapseIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--half-unit);
  transition: transform ease 0.1s;
  &.close {
    transform: rotate(-90deg);
  }
  & > svg {
    display: block;
  }
  &.absolutePosition {
    position: absolute;
    height: 100%;
    padding: 0 !important;
  }
}

.childrenIndent {
  margin: var(--half-unit) 0 calc(var(--unit)) calc(var(--unit) * 2);
}
