.foldingLabel {
  display: flex;
  flex-flow: row nowrap;
  cursor: pointer;
  position: relative;
}

.foldingHeader {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  gap: var(--unit);
}

.foldingControls {
  display: flex;
  flex-flow: row nowrap;
  padding-right: var(--double-unit);
}

.foldingTitle {
  width: 100%;
}

.foldingContent {
  margin-left: var(--unit);
}

.collapseIndicator {
  display: flex;
  align-items: center;
  justify-content: cetner;
  padding: 0 var(--half-unit);
  transition: transform ease 0.1s;
  &.close {
    transform: rotate(-90deg);
  }
  & > svg {
    display: block;
  }
  &.absolutePosition {
    position: absolute;
    height: 100%;
  }
}
