.bivariatePanel {
  height: 85vh;
  /* top: 10vh; */
  width: 90vw;
  pointer-events: auto;
  position: relative;
  align-self: flex-start;
  &.show {
    align-items: center;
    & > div {
      width: 100%;
    }
  }

  &.collapse {
    height: var(--panel-header-height);
    width: 100%;
  }
}

.panelBody {
  min-height: 300px;
  padding: 0 var(--double-unit) var(--double-unit) var(--double-unit);

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  & .header {
    /* Temp padding right. Remove at #12405 */
    padding: var(--unit) calc(var(--double-unit) + var(--icon-l) + var(--half-unit))
      var(--unit) var(--double-unit);
  }

  & :first-child {
    margin-top: 0;
  }
}

.panelIcon {
  display: none;
}

.iconContainerShown {
  display: block;
}

.iconContainerHidden {
  display: none;
}

.customCloseBtn {
  position: absolute;
  right: 0;
  cursor: pointer;
  z-index: 2;

  &:hover {
    background: #5e7080;
  }
}

@media screen and (max-width: 960px) {
  .bivariatePanel.show {
    position: absolute;
  }
  .bivariatePanel.collapse {
    display: none;
  }
  .panelIcon {
    display: flex;

    &.show {
      transition: opacity 0.33s linear 0s;
      visibility: visible;
      display: flex;
      opacity: 1;
    }
  }
}
