.bivariatePanel {
  pointer-events: auto;
  position: relative;
  z-index: 1; /* Show shadow over map */
  margin-right: var(--unit);
  align-self: flex-start;
  border-top-left-radius: var(--border-radius) !important;
  border-bottom-left-radius: var(--border-radius) !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  max-height: 100%;
  height: 0;

  &.show {
    position: absolute;
    visibility: visible;
    width: 75vw;
    margin: 0;
    height: calc(100vh - 44px);
    align-items: center;
    & > div {
      width: 100%;
    }
  }

  &.collapse {
    visibility: visible;
    height: var(--panel-header-height);
    width: 100%;
  }
}

.panelBody {
  height: calc(100vh - 44px - 41px);
  width: 75vw;
  padding: 0 var(--double-unit) var(--double-unit) var(--double-unit);
  overflow: auto;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  & .header {
    /* Temp padding right. Remove at #12405 */
    padding: var(--unit) calc(var(--double-unit) + var(--icon-l) + var(--half-unit))
      var(--unit) var(--double-unit);
  }

  & :first-child {
    margin-top: 0;
  }
}

.panelIcon {
  display: none;
}

.iconContainerShown {
  display: block;
}

.iconContainerHidden {
  display: none;
}

.customCloseBtn {
  position: absolute;
  right: 0;
  cursor: pointer;
  z-index: 2;

  &:hover {
    background: #5e7080;
  }
}

@media screen and (max-width: 960px) {
  .bivariatePanel.show {
    position: absolute;
  }
  .bivariatePanel.collapse {
    display: none;
  }
  .panelIcon {
    display: flex;

    &.show {
      transition: opacity 0.33s linear 0s;
      visibility: visible;
      display: flex;
      opacity: 1;
    }
  }
}
