.bivariatePanel {
  pointer-events: auto;
  position: relative;
  z-index: 1; /* Show shadow over map */
  margin-right: var(--unit);
  align-self: flex-start;
  border-top-left-radius: var(--border-radius) !important;
  border-bottom-left-radius: var(--border-radius) !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  max-height: 100%;
  height: 100%;

  &.show {
    transition: visibility 0s linear 0s, opacity 0.33s linear 0s,
      margin-right 0.1s linear 0s;
    visibility: visible;
    opacity: 1;
    margin-right: -8px;
  }

  &.hide {
    transition: visibility 0s linear 0.33s, opacity 0.33s linear 0s,
      margin-right 0.15s linear 0s;
    visibility: hidden;
    opacity: 0;
    margin-right: calc(-75vw - 8px);
  }
}

.panelBody {
  height: 100%;
  width: 75vw;
  padding: 0 var(--double-unit) var(--double-unit) var(--double-unit);
  overflow: auto;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
}

.panelBody :first-child {
  margin-top: 0;
}

.panelIcon {
  display: flex;

  &.show {
    transition: display 0s linear 0s, visibility 0s linear 0s, opacity 0.33s linear 0s;
    visibility: visible;
    display: flex;
    opacity: 1;
  }

  &.hide {
    transition: display 0s linear 0.33s, visibility 0s linear 0.33s,
      opacity 0.33s linear 0s;
    visibility: hidden;
    display: none;
    opacity: 0;
    width: 0;
  }
}

.customCloseBtn {
  height: 40px;
  width: 16px;
  background: var(--base-strong-down);
  border-radius: 4px 0;
  position: absolute;
  cursor: pointer;
  z-index: 2;

  &:hover {
    background: #5e7080;
  }
}

.iconContainerShown {
  display: block;
}

.iconContainerHidden {
  display: none;
}

@media screen and (max-width: 960px) {
  .bivariatePanel {
    position: absolute;
    margin: 0;
    width: 100vw;
    max-height: unset;
    height: calc(100vh - var(--header-height));
    align-items: center;
  }
  .bivariatePanel > div {
    width: 100%;
  }
  .customCloseBtn {
    left: 0;
  }
}
