.cookieBanner {
  display: flex;
  position: fixed;
  bottom: var(--unit);
  right: var(--unit);
  padding: 40px;
  z-index: var(--modal);
  max-width: 680px;
}

.cookieBanner h4 {
  margin: 0;
}

.body {
  margin-bottom: var(--double-unit);
  margin-top: var(--unit);
}

.buttonsRow {
  margin-top: var(--unit);
  display: flex;
  flex-wrap: wrap;
  gap: var(--double-unit);
}

@media screen and (max-width: 960px) {
  .cookieBanner {
    padding: 25px;
    left: var(--unit);
  }
}
