.pageContainer {
  height: 100%;
  width: 100%;
  display: flex;
  min-width: 845px;
  overflow-x: auto;

  & .Nav {
    display: flex;
    flex-direction: column;
    width: 188px;
    flex-shrink: 0;
    border-right: 1px solid var(--faint-weak);
    padding-top: var(--half-unit);

    & .Tab {
      font: var(--font);
      line-height: 40px;
      display: flex;
      width: 100%;

      &.SelectedTab {
        background: var(--accent-weak);
        color: var(--accent-strong);
      }

      & .TabItem {
        display: flex;
        gap: 10px;
        align-items: center;
        padding-left: 18px;

        & .TabIcon {
          height: 100%;
          display: flex;
        }

        & svg {
          height: 16px;
          width: 16px;
        }
      }
    }
  }

  & .TabPanels {
    width: 100%;
  }
}
