.pageContainer {
  height: 100%;
  width: 100%;
  display: flex;
}

.Nav,
.List,
.LegendMap {
  display: flex;
  flex-direction: column;
}

.LegendMap {
  width: 492px;
  flex-shrink: 0;
}

.Nav {
  width: 188px;
  flex-shrink: 0;
}

.ListFilters {
  display: flex;
  align-items: center;
  padding: 24px 32px 16px 32px;
}

.List {
  display: flex;
  flex-grow: 1;
  border: 1px solid var(--faint-weak);
  border-width: 0px 1px 0px 1px;
  flex-direction: column;
}

.ListBody {
  display: flex;
  flex-grow: 1;
  overflow: auto;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
}
