.inputLine {
  margin-bottom: var(--unit);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.infoButton {
  height: 16px;
  width: 16px;
  cursor: pointer;
  color: var(--faint-strong);
}

.inputLine .infoButton {
  margin-inline-start: var(--half-unit);
}

.inputLinelabel {
  flex: 0 0 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: var(--half-unit);
  font-size: 11px;
}

.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-inline-start: var(--unit);
}
