name: Run e2e autotests
on:
  workflow_dispatch:
    inputs:
      env:
        type: choice
        required: true
        options:
          - dev
          - test
          - prod
      app:
        type: choice
        required: true
        default: all
        options:
          - atlas
          - disaster-ninja
          - smart-city
          - oam
          - all

jobs:
  run_tests:
    name: Run e2e tests
    timeout-minutes: 60
    runs-on: ubuntu-latest
    env:
      ENVIRONMENT: ${{ github.event.inputs.env }}
      APP_NAME: ${{ github.event.inputs.app }}
      TEST_EMAIL: ${{ secrets.TEST_EMAIL }}
      TEST_PASSWORD: ${{ secrets.TEST_PASSWORD }}
      DEV_EMAIL: ${{ secrets.DEV_EMAIL }}
      DEV_PASSWORD: ${{ secrets.DEV_PASSWORD }}
      PROD_EMAIL: ${{ secrets.PROD_EMAIL }}
      PROD_PASSWORD: ${{ secrets.PROD_PASSWORD }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '20'
      - name: Create .env file
        shell: bash
        run: |
          ENV_PREFIX=$(echo "$ENVIRONMENT" | tr '[:lower:]' '[:upper:]') # Convert to uppercase
          EMAIL_VAR_NAME="${ENV_PREFIX}_EMAIL"
          PASSWORD_VAR_NAME="${ENV_PREFIX}_PASSWORD"

          EMAIL="${!EMAIL_VAR_NAME}"
          PASSWORD="${!PASSWORD_VAR_NAME}"

          rm -rf .env.playwright.production
          echo "EMAIL=$EMAIL" >> .env.playwright.production
          echo "PASSWORD=$PASSWORD" >> .env.playwright.production

      - name: Cache node modules
        id: cache-npm
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: Install dependencies
        run: npm ci
      - name: Install Playwright Browsers
        run: npx playwright install --with-deps
      - name: Run Playwright tests
        run: npx playwright test
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
