.eventCard {
  display: flex;
  flex-flow: column nowrap;
  gap: var(--unit);
  border-bottom: 1px solid var(--faint-weak);
  padding: var(--double-unit);
  text-align: left;
  width: 100%;
  transition: background-color ease-out 0.1s;
  &:hover {
    background-color: var(--base-weak-up);
  }
  &.active {
    background-color: var(--accent-weak);
    box-shadow: 0px 0px 0px 0px var(--accent-strong);
    border-left: var(--half-unit) solid var(--accent-strong);
  }
  &:focus-visible {
    box-shadow: inset 0px 0px 0px 2px var(--accent-strong);
  }
}

.head {
  display: flex;
  flex-flow: row nowrap;
  gap: var(--unit);
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.footer {
  display: flex;
  color: var(--text-faint-strong);
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

.timeInfo {
  display: flex;
  flex-direction: column;
}

.linkContainer {
  display: flex;
  flex-direction: column;
  gap: var(--half-unit);
  font: var(--font-xs);
}

.markdown {
  & p {
    margin: 0;
  }
}
